@font-face {
  font-family: 'pingFangExtraLight';
  src: url(/fonts/PingFang_ExtraLight.eot?b2b760a47cfd600726bad361d6ff0831);
  src: url(/fonts/PingFang_ExtraLight.woff?ec44809a10b3078107ef50ee3356e3c9) format('woff'), url(/fonts/PingFang_ExtraLight.ttf?e5e1a97169fc1e01b19ea7a14919ebe0) format('truetype'), url(/fonts/PingFang_ExtraLight.svg?b8454a466262a1eb39cd7b6d5e53ad36) format('svg');
}
@font-face {
  font-family: 'pingFangLight';
  src: url(/fonts/PingFang_Light_0.eot?87f1481e54a642c23d7e7218bdb2436f);
  src: url(/fonts/PingFang_Light_0.woff?83117de04e4575ca626d821b4ee28cc9) format('woff'), url(/fonts/PingFang_Light_0.ttf?ca3ad0e3097cdf7515dfa75aff6b3cc3) format('truetype'), url(/fonts/PingFang_Light_0.svg?ad56fb4552ceb93caae71babcdbe6e19) format('svg');
}
@font-face {
  font-family: 'pingFangRegular';
  src: url(/fonts/PingFang_Regular_0.eot?ae526a45e86910b264bdad0e8b2ebf31);
  src: url(/fonts/PingFang_Regular_0.woff?808ea89d856e8b0dd0e26e021cd74dc1) format('woff'), url(/fonts/PingFang_Regular_0.ttf?75225b297e757308c3bfeca013396be6) format('truetype'), url(/fonts/PingFang_Regular_0.svg?6ca1ffa34e60d9f36974ac5ed764e239) format('svg');
}
@font-face {
  font-family: 'pingFang';
  src: url(/fonts/PingFang_Medium_0.eot?bdbf7e000dc0b71d2b6f445e70a1e23c);
  src: url(/fonts/PingFang_Medium_0.woff?7ddf61add84d338280ed1059641da293) format('woff'), url(/fonts/PingFang_Medium_0.ttf?15974853bc3294ef68e7e6d58fe74fd7) format('truetype'), url(/fonts/PingFang_Medium_0.svg?e5299f5a6711ffb57b71dfca14f2ff35) format('svg');
}
@font-face {
  font-family: 'pingFangBold';
  src: url(/fonts/PingFang_Bold.eot?3750644e22c584075747601c47df00f3);
  src: url(/fonts/PingFang_Bold.woff?087cbef9ca2b6bd612f4712e23045298) format('woff'), url(/fonts/PingFang_Bold.ttf?dd25b35dcb7ba4476cbaa9a9592e39e2) format('truetype'), url(/fonts/PingFang_Bold.svg?e8135f2f1aad288f7ca8327504e276cb) format('svg');
}
@font-face {
  font-family: 'pingFangHeavy';
  src: url(/fonts/PingFang_Heavy_0.eot?184418136760b26babf02e01ecfafacd);
  src: url(/fonts/PingFang_Heavy_0.woff?1af360b62fc177b27111c4dc454ddcd4) format('woff'), url(/fonts/PingFang_Heavy_0.ttf?1c97d8de88f3e2936c2595978a781990) format('truetype'), url(/fonts/PingFang_Heavy_0.svg?f53a351e263e29f3ab6be78a020b745e) format('svg');
}
.font-extra-light {
  font-family: "pingFangExtraLight", "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-light {
  font-family: "pingFangLight", "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-regular {
  font-family: "pingFangRegular", "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-medium {
  font-family: 'pingFangMedium', "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-bold {
  font-family: 'pingFangBold', "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-heavy {
  font-family: "pingFangHeavy", "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
#user_admin .navbar .top-nav {
  list-style: none;
}
#user_admin .navbar .top-nav > li > a {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}
#user_admin .navbar .top-nav > li > a.active {
  background-color: #fff;
  color: #4274f4;
}
#user_admin .main-content .top-nav {
  list-style: none;
}
#user_admin .main-content .top-nav > li > a {
  color: #191c2b;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: block;
  background-color: #fff;
  text-align: center;
}
#user_admin .main-content .top-nav > li > a.active {
  position: relative;
}
#user_admin .main-content .top-nav > li > a.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4274f4;
}
#user_admin .main-content .content {
  background-color: #f4f6f9;
}
#user_admin .main-content .content #index.overflow-hidden-x {
  overflow-x: hidden;
}
#user_admin .main-content .content #index .paper {
  -webkit-box-shadow: 0 0 12px 2px rgba(27, 34, 69, 0.06);
          box-shadow: 0 0 12px 2px rgba(27, 34, 69, 0.06);
}
#user_admin .main-content .content #index .paper .paper-title {
  color: #62676f;
  font-size: 16px;
}
#user_admin .main-content .content #index .paper .paper-content {
  color: #62676f;
  font-size: 14px;
}
#user_admin .main-content .content #index .paper .paper-content h5 {
  color: #191c2b;
  font-size: 20px;
}
#user_admin .main-content .content #index .paper .paper-content .product-item h5 {
  color: #191c2b;
  font-size: 18px;
}
#user_admin .main-content .content #index .paper .paper-content .product-item .media-body > p {
  color: #62676f;
  font-size: 14px;
}
#user_admin .main-content .content #index .paper .paper-content .product-item .media-body > div .status {
  font-size: 14px;
  color: #96a1b4;
  font-weight: normal;
  background-color: transparent;
  border: 1px solid #d9dee6;
}
#user_admin .main-content .content #index .paper .user-detail-text {
  font-size: 14px;
  color: #62676f;
}
#user_admin .main-content .content #index .paper .user-detail-icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}
#user_admin .main-content .content #index .paper .user-detail-icon.discount {
  background-image: url("/user_assets/images/content/discount_off.png");
}
#user_admin .main-content .content #index .paper .user-detail-icon.order {
  background-image: url("/user_assets/images/content/order_off.png");
}
#user_admin .main-content .content #index .paper .user-detail-icon.transaction {
  background-image: url("/user_assets/images/content/transaction_off.png");
}
#user_admin .main-content .content #index .paper .user-detail-icon.invoice {
  background-image: url("/user_assets/images/content/invoice_off.png");
}
#user_admin .main-content .content #index .paper .balance-title span {
  font-size: 16px;
  color: #62676f;
  vertical-align: middle;
}
#user_admin .main-content .content #index .paper .balance-title .btn {
  font-size: 14px;
  color: #fff;
}
#user_admin .main-content .content #index .paper .balance {
  font-size: 40px;
  line-height: 40px;
  color: #4274f4;
  font-family: Arial, Helvetica, sans-serif;
}
#user_admin .main-content .content #index .paper h5 {
  font-size: 22px;
  color: #191c2b;
}
#user_admin .main-content .content #index .paper h5 .status {
  font-size: 12px;
  color: #96a1b4;
  border: 1px solid #d9dee6;
  background-color: transparent;
  vertical-align: middle;
}
#user_admin .main-content .content #index .paper p {
  font-size: 14px;
  color: #62676f;
}
#user_admin .main-content .content #server .paper {
  -webkit-box-shadow: 0 0 12px 2px rgba(27, 34, 69, 0.06);
          box-shadow: 0 0 12px 2px rgba(27, 34, 69, 0.06);
}
#user_admin .main-content .content #server .paper .server-tab .nav-tabs a {
  font-size: 14px;
  color: #4274f4;
  text-decoration: none;
}
#user_admin .main-content .content #server .paper .server-tab .nav-tabs li.active a {
  background-color: #4274f4;
  color: #fff;
  border-radius: 4px;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .tip {
  background-color: #f0f2f5;
  color: #62676f;
  font-size: 14px;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .toolbar .float-right > .btn {
  background-color: transparent;
  border: 1px solid #d0d2e0;
  color: #191c2b;
  font-size: 14px;
  line-height: 14px;
  height: 36px;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .toolbar .float-right > .btn.active {
  border: 1px solid #4274f4;
  color: #4274f4;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .toolbar .float-right > .form-inline #inputSearch {
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: #d0d2e0;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .toolbar .float-right > .form-inline > .btn {
  font-size: 14px;
  line-height: 14px;
  height: 36px;
  background-color: #4274f4;
  color: #fff;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data {
  font-size: 14px;
  color: #191c2b;
  border: none;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data th {
  border: none;
  border-bottom: 1px solid #d8dae6;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data tr:last-of-type td {
  border: none;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data td {
  border: none;
  border-bottom: 1px solid #d8dae6;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data td > span {
  cursor: pointer;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data td .play {
  color: #4274f4;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data td .renew {
  color: #d40000;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data .bs-checkbox label input[type="checkbox"] {
  display: none;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data .bs-checkbox label input[type="checkbox"] + span {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid #d0d2e0;
  border-radius: 4px;
  position: relative;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data .bs-checkbox label input[type="checkbox"] + span:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 15px;
  color: #4274f4;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .data .bs-checkbox label input[type="checkbox"]:checked + span:before {
  content: "\221A";
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination-detail {
  margin-bottom: 0;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination {
  margin-top: 16px;
  margin-bottom: 0;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination > ul.pagination .page-pre .page-link,
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination > ul.pagination .page-next .page-link {
  font-size: 14px;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination > ul.pagination .page-item.active .page-link {
  background-color: #4274f4;
  color: #fff;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination > ul.pagination .page-item.disabled .page-link {
  color: #c1c0c0;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination > ul.pagination .page-link {
  border-radius: 4px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0;
  line-height: 20px;
  color: #666666;
  font-size: 12px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  border: none;
  margin-right: 0.3rem;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination-info > .btn {
  font-size: 14px;
  line-height: 14px;
  height: 34px;
  background-color: #4274f4;
  color: #fff;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination-info > .bs-checkbox {
  margin-right: 0.8rem;
  padding: 12px;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination-info > .bs-checkbox label input[type="checkbox"] {
  display: none;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination-info > .bs-checkbox label input[type="checkbox"] + span {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid #d0d2e0;
  border-radius: 4px;
  position: relative;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination-info > .bs-checkbox label input[type="checkbox"] + span:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 15px;
  color: #4274f4;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}
#user_admin .main-content .content #server .paper .server-tab .tab-content .pagination-info > .bs-checkbox label input[type="checkbox"]:checked + span:before {
  content: "\221A";
}
#user_admin .main-content .content #order .paper {
  -webkit-box-shadow: 0 0 12px 2px rgba(27, 34, 69, 0.06);
          box-shadow: 0 0 12px 2px rgba(27, 34, 69, 0.06);
}
#user_admin .main-content .content #order .paper .filter input {
  border: 1px solid #d0d2e0;
  color: #9a9ea8;
  font-size: 14px;
}
#user_admin .main-content .content #order .paper .filter button.btn {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 3px;
}
#user_admin .main-content .content #order .paper .filter button.btn.btn-primary {
  background-color: #4274f4;
}
#user_admin .main-content .content #order .paper .data {
  font-size: 14px;
  color: #191c2b;
  border: none;
}
#user_admin .main-content .content #order .paper .data th {
  border: none;
  border-bottom: 1px solid #d8dae6;
}
#user_admin .main-content .content #order .paper .data tr:last-of-type td {
  border: none;
}
#user_admin .main-content .content #order .paper .data td {
  border: none;
  border-bottom: 1px solid #d8dae6;
}
#user_admin .main-content .content #order .paper .data td > span {
  cursor: pointer;
}
#user_admin .main-content .content #order .paper .data td .play {
  color: #4274f4;
}
#user_admin .main-content .content #order .paper .data td .renew {
  color: #d40000;
}
#user_admin .main-content .content #order .paper .data .bs-checkbox label input[type="checkbox"] {
  display: none;
}
#user_admin .main-content .content #order .paper .data .bs-checkbox label input[type="checkbox"] + span {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid #d0d2e0;
  border-radius: 4px;
  position: relative;
}
#user_admin .main-content .content #order .paper .data .bs-checkbox label input[type="checkbox"] + span:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 15px;
  color: #4274f4;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}
#user_admin .main-content .content #order .paper .data .bs-checkbox label input[type="checkbox"]:checked + span:before {
  content: "\221A";
}
#user_admin .main-content .content #order .paper .pagination-detail {
  margin-bottom: 0;
}
#user_admin .main-content .content #order .paper .pagination {
  margin-top: 16px;
  margin-bottom: 0;
}
#user_admin .main-content .content #order .paper .pagination > ul.pagination .page-pre .page-link,
#user_admin .main-content .content #order .paper .pagination > ul.pagination .page-next .page-link {
  font-size: 14px;
}
#user_admin .main-content .content #order .paper .pagination > ul.pagination .page-item.active .page-link {
  background-color: #4274f4;
  color: #fff;
}
#user_admin .main-content .content #order .paper .pagination > ul.pagination .page-item.disabled .page-link {
  color: #c1c0c0;
}
#user_admin .main-content .content #order .paper .pagination > ul.pagination .page-link {
  border-radius: 4px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0;
  line-height: 20px;
  color: #666666;
  font-size: 12px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  border: none;
  margin-right: 0.3rem;
}
#user_admin .main-content .menu {
  width: 170px;
  max-width: 170px;
  min-height: calc(100vh - 58px);
  background-color: #191c2b;
}
#user_admin .main-content .menu ul {
  list-style: none;
}
#user_admin .main-content .menu ul > li > a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
#user_admin .main-content .menu ul > li > a.active {
  color: #4274f4;
}
#user_admin .main-content .menu ul > li > a.active > .icon.overview {
  background-image: url("/user_assets/images/main_menu/overview_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.server {
  background-image: url("/user_assets/images/main_menu/server_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.gaofang {
  background-image: url("/user_assets/images/main_menu/gaofang_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.finance {
  background-image: url("/user_assets/images/main_menu/finance_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.beian {
  background-image: url("/user_assets/images/main_menu/beian_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.user {
  background-image: url("/user_assets/images/main_menu/user_on.png");
}
#user_admin .main-content .menu ul > li > a > .font-regular {
  vertical-align: middle;
}
#user_admin .main-content .menu ul > li > a > .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
#user_admin .main-content .menu ul > li > a > .icon.overview {
  background-image: url("/user_assets/images/main_menu/overview_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.server {
  background-image: url("/user_assets/images/main_menu/server_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.gaofang {
  background-image: url("/user_assets/images/main_menu/gaofang_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.finance {
  background-image: url("/user_assets/images/main_menu/finance_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.beian {
  background-image: url("/user_assets/images/main_menu/beian_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.user {
  background-image: url("/user_assets/images/main_menu/user_off.png");
}
#user_admin .navbar-bg {
  background-color: #4274f4;
  -webkit-box-shadow: 0 0 24px 2px rgba(24, 30, 60, 0.2);
          box-shadow: 0 0 24px 2px rgba(24, 30, 60, 0.2);
  position: relative;
  z-index: 99;
}
#user_admin .navbar-bg .nav-item {
  position: relative;
}
#user_admin .navbar-bg .nav-item > .card {
  display: none;
  top: 30px;
  width: 188px;
  right: 0;
  border: none;
  -webkit-box-shadow: 0 0 24px 2px rgba(24, 30, 60, 0.2);
          box-shadow: 0 0 24px 2px rgba(24, 30, 60, 0.2);
}
#user_admin .navbar-bg .nav-item > .card .kefu p:nth-of-type(1) {
  color: #9a9ea8;
  font-size: 14px;
}
#user_admin .navbar-bg .nav-item > .card .kefu h3 {
  font-size: 16px;
  color: #191c2b;
}
#user_admin .navbar-bg .nav-item > .card .kefu p:nth-of-type(2) {
  font-size: 14px;
  color: #62676f;
}
#user_admin .navbar-bg .nav-item > .card .kefu p:nth-of-type(2) > span:nth-of-type(2) {
  font-size: 12px;
}
#user_admin .navbar-bg .nav-item > .card .kefu p:nth-of-type(3) {
  font-size: 14px;
  color: #62676f;
}
#user_admin .navbar-bg .nav-item > .card .kefu p:nth-of-type(3) > span:nth-of-type(2) {
  font-size: 12px;
}
#user_admin .navbar-bg .nav-item > .card .erweima-show h3 {
  font-size: 16px;
  color: #4274f4;
}
#user_admin .navbar-bg .nav-item > .card .erweima-show ul {
  list-style: disc;
}
#user_admin .navbar-bg .nav-item > .card .erweima-show ul li {
  font-size: 14px;
  color: #4274f4;
}
#user_admin .navbar-bg .nav-item > .card .erweima-show ul li span {
  color: #767a81;
}
#user_admin .navbar-bg .nav-item > .card .account .media > .media-body h5 {
  font-size: 16px;
  color: #191c2b;
}
#user_admin .navbar-bg .nav-item > .card .account .media > .media-body h5 > .status {
  color: #96a1b4;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #d9dee6;
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item {
  font-size: 14px;
  position: relative;
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item > a {
  color: #576478;
  text-decoration: none;
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item:hover > a {
  color: #4274f4;
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item:nth-of-type(1)::before {
  background-image: url("/user_assets/images/user/user_center_off.png");
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item:nth-of-type(2)::before {
  background-image: url("/user_assets/images/user/finance_off.png");
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item:nth-of-type(3)::before {
  background-image: url("/user_assets/images/user/password_off.png");
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item:nth-of-type(4)::before {
  background-image: url("/user_assets/images/user/quit_off.png");
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item:nth-of-type(1):hover::before {
  background-image: url("/user_assets/images/user/user_center_on.png");
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item:nth-of-type(2):hover::before {
  background-image: url("/user_assets/images/user/finance_on.png");
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item:nth-of-type(3):hover::before {
  background-image: url("/user_assets/images/user/password_on.png");
}
#user_admin .navbar-bg .nav-item > .card .account .list-group > .list-group-item:nth-of-type(4):hover::before {
  background-image: url("/user_assets/images/user/quit_on.png");
}
#user_admin .navbar-bg .nav-item > .card .account-info p:nth-of-type(1) {
  color: #999ea8;
  font-size: 14px;
}
#user_admin .navbar-bg .nav-item > .card .account-info p:nth-of-type(2) {
  color: #4274f4;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
}
#user_admin .navbar-bg .nav-item > .card .account-info .btn-primary {
  font-size: 14px;
  background-color: #4274f4;
  letter-spacing: 8px;
}
#user_admin .navbar-bg .nav-item > .card .account-info .list-group > .list-group-item {
  font-size: 14px;
  position: relative;
}
#user_admin .navbar-bg .nav-item > .card .account-info .list-group > .list-group-item > a {
  color: #576478;
  text-decoration: none;
}
#user_admin .navbar-bg .nav-item > .card .account-info .list-group > .list-group-item:hover > a {
  color: #4274f4;
}
#user_admin .navbar-bg .nav-item > .card .account-info .list-group > .list-group-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
#user_admin .navbar-bg .nav-item > .card .account-info .list-group > .list-group-item:nth-of-type(1)::before {
  background-image: url("/user_assets/images/wallet/water_off.png");
}
#user_admin .navbar-bg .nav-item > .card .account-info .list-group > .list-group-item:nth-of-type(2)::before {
  background-image: url("/user_assets/images/wallet/order_off.png");
}
#user_admin .navbar-bg .nav-item > .card .account-info .list-group > .list-group-item:nth-of-type(1):hover::before {
  background-image: url("/user_assets/images/wallet/water_on.png");
}
#user_admin .navbar-bg .nav-item > .card .account-info .list-group > .list-group-item:nth-of-type(2):hover::before {
  background-image: url("/user_assets/images/wallet/order_on.png");
}
#user_admin .navbar-bg .nav-item:hover > .nav-link span.icon.customer-service {
  background-image: url("/user_assets/images/navbar/customer_service_on.png");
}
#user_admin .navbar-bg .nav-item:hover > .nav-link span.icon.erweima {
  background-image: url("/user_assets/images/navbar/erweima_on.png");
}
#user_admin .navbar-bg .nav-item:hover > .nav-link span.icon.wallet {
  background-image: url("/user_assets/images/navbar/wallet_on.png");
}
#user_admin .navbar-bg .nav-item:hover > .nav-link span.icon.user {
  background-image: url("/user_assets/images/navbar/user_on.png");
}
#user_admin .navbar-bg .nav-item > .nav-link {
  padding-right: 10px;
  color: #fff;
  vertical-align: middle;
}
#user_admin .navbar-bg .nav-item > .nav-link:hover {
  color: #fff;
}
#user_admin .navbar-bg .nav-item > .nav-link.text {
  line-height: 18px;
}
#user_admin .navbar-bg .nav-item > .nav-link span.text {
  color: #d2ddfb;
  font-size: 12px;
  display: inline-block;
  height: 20px;
  line-height: 18px;
  padding: 0 6px;
  border: 1px solid #a6befa;
  border-radius: 4px;
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon {
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon.customer-service {
  background-image: url("/user_assets/images/navbar/customer_service_off.png");
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon.erweima {
  background-image: url("/user_assets/images/navbar/erweima_off.png");
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon.wallet {
  background-image: url("/user_assets/images/navbar/wallet_off.png");
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon.user {
  background-image: url("/user_assets/images/navbar/user_off.png");
}
@media (min-width: 576px) {
  #renewModal .modal-dialog {
    max-width: 560px;
    margin: 1.75rem auto;
  }
}
#renewModal .modal-footer button {
  width: 74px;
  height: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #767a81;
  font-size: 14px;
  letter-spacing: 2px;
}
#renewModal .modal-footer button:hover {
  border: 1px solid transparent;
}
#renewModal .modal-footer button.btn-secondary {
  background-color: transparent;
  border: 1px solid #d0d2e0;
}
#renewModal .modal-footer button.btn-primary {
  background-color: #4274f4;
  color: #fff;
}
#renewModal .modal-footer button.bg-danger {
  background-color: #f15151;
  color: #fff;
}
#renewModal .modal-title {
  color: #4274f4;
  font-size: 26px;
  font-weight: normal;
}
#renewModal .modal-title > span {
  display: inline-block;
  font-size: 18px;
  color: #191c2b;
  position: relative;
  line-height: 18px;
}
#renewModal .modal-title > span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #d9dee6;
}
#renewModal .modal-body .duration > span {
  font-size: 14px;
  color: #191c2b;
}
#renewModal .modal-body .duration > .duration-select {
  font-size: 14px;
  color: #62676f;
}
#renewModal .modal-body .duration > .duration-select .duration-select-btn {
  display: inline-block;
  border: 1px solid #d0d2e0;
  width: 4em;
  text-align: center;
  cursor: pointer;
}
#renewModal .modal-body .duration > .duration-select .duration-select-btn.active {
  border: 1px solid #4274f4;
  background-color: #4274f4;
  color: #fff;
}
#renewModal .modal-body > .price {
  color: #191c2b;
  font-size: 14px;
}
#renewModal .modal-body > .price > .amount {
  font-size: 20px;
  color: #4274f4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#renewModal .modal-body > .balance {
  color: #191c2b;
  font-size: 14px;
}
#renewModal .modal-body > .balance > .amount {
  font-size: 14px;
  color: #70747b;
}
#renewModal .modal-body > .balance > .amount > .tip {
  color: #9a9ea8;
}
#rechargeModal .modal-title {
  color: #4274f4;
  font-size: 26px;
  font-weight: normal;
}
#rechargeModal .modal-footer button {
  width: 74px;
  height: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #767a81;
  font-size: 14px;
  letter-spacing: 2px;
}
#rechargeModal .modal-footer button:hover {
  border: 1px solid transparent;
}
#rechargeModal .modal-footer button.btn-secondary {
  background-color: transparent;
  border: 1px solid #d0d2e0;
}
#rechargeModal .modal-footer button.btn-primary {
  background-color: #4274f4;
  color: #fff;
}
#rechargeModal .modal-body .select-type-pay .recharge-value {
  color: #9a9ea8;
  font-size: 12px;
}
#rechargeModal .modal-body .recharge-name {
  min-width: 56px;
}
#rechargeModal .modal-body .recharge-value {
  color: #70747b;
}
#rechargeModal .modal-body .recharge-value strong {
  color: #4274f4;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#rechargeModal .modal-body .recharge-value input {
  border: 1px solid #d0d2e0;
  width: 100px;
}
#rechargeModal .modal-body .recharge-item {
  color: #191c2b;
  font-size: 14px;
}
#rechargeModal .modal-body .select-type-pay > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#rechargeModal .modal-body .select-type-pay > ul li img {
  width: 100%;
}
#orderDetailModal .modal-title {
  color: #4274f4;
  font-size: 26px;
  font-weight: normal;
}
#orderDetailModal .modal-footer .order-info {
  font-size: 14px;
  color: #191c2b;
}
#orderDetailModal .modal-footer .order-info .attr {
  color: #70747b;
}
#orderDetailModal .modal-footer button {
  width: 74px;
  height: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #767a81;
  font-size: 14px;
  letter-spacing: 2px;
}
#orderDetailModal .modal-footer button:hover {
  border: 1px solid transparent;
}
#orderDetailModal .modal-footer button.btn-secondary {
  background-color: transparent;
  border: 1px solid #d0d2e0;
}
#orderDetailModal .modal-footer button.btn-primary {
  background-color: #4274f4;
  color: #fff;
}
#orderDetailModal .modal-body .order-info {
  font-size: 14px;
  color: #191c2b;
}
#orderDetailModal .modal-body .order-info .attr {
  color: #70747b;
}
#orderDetailModal .modal-body .order-business {
  border: none;
  font-size: 14px;
}
#orderDetailModal .modal-body .order-business thead tr td {
  color: #191c2b;
}
#orderDetailModal .modal-body .order-business tbody tr td {
  color: #191c2b;
}
#orderDetailModal .modal-body .order-business .border-bottom {
  border-color: #d9dee6;
}
