@font-face {
  font-family: 'pingFangExtraLight';
  src: url(/fonts/PingFang_ExtraLight.eot?b2b760a47cfd600726bad361d6ff0831);
  src: url(/fonts/PingFang_ExtraLight.woff?ec44809a10b3078107ef50ee3356e3c9) format('woff'), url(/fonts/PingFang_ExtraLight.ttf?e5e1a97169fc1e01b19ea7a14919ebe0) format('truetype'), url(/fonts/PingFang_ExtraLight.svg?b8454a466262a1eb39cd7b6d5e53ad36) format('svg');
}
@font-face {
  font-family: 'pingFangLight';
  src: url(/fonts/PingFang_Light_0.eot?87f1481e54a642c23d7e7218bdb2436f);
  src: url(/fonts/PingFang_Light_0.woff?83117de04e4575ca626d821b4ee28cc9) format('woff'), url(/fonts/PingFang_Light_0.ttf?ca3ad0e3097cdf7515dfa75aff6b3cc3) format('truetype'), url(/fonts/PingFang_Light_0.svg?ad56fb4552ceb93caae71babcdbe6e19) format('svg');
}
@font-face {
  font-family: 'pingFangRegular';
  src: url(/fonts/PingFang_Regular_0.eot?ae526a45e86910b264bdad0e8b2ebf31);
  src: url(/fonts/PingFang_Regular_0.woff?808ea89d856e8b0dd0e26e021cd74dc1) format('woff'), url(/fonts/PingFang_Regular_0.ttf?75225b297e757308c3bfeca013396be6) format('truetype'), url(/fonts/PingFang_Regular_0.svg?6ca1ffa34e60d9f36974ac5ed764e239) format('svg');
}
@font-face {
  font-family: 'pingFang';
  src: url(/fonts/PingFang_Medium_0.eot?bdbf7e000dc0b71d2b6f445e70a1e23c);
  src: url(/fonts/PingFang_Medium_0.woff?7ddf61add84d338280ed1059641da293) format('woff'), url(/fonts/PingFang_Medium_0.ttf?15974853bc3294ef68e7e6d58fe74fd7) format('truetype'), url(/fonts/PingFang_Medium_0.svg?e5299f5a6711ffb57b71dfca14f2ff35) format('svg');
}
@font-face {
  font-family: 'pingFangBold';
  src: url(/fonts/PingFang_Bold.eot?3750644e22c584075747601c47df00f3);
  src: url(/fonts/PingFang_Bold.woff?087cbef9ca2b6bd612f4712e23045298) format('woff'), url(/fonts/PingFang_Bold.ttf?dd25b35dcb7ba4476cbaa9a9592e39e2) format('truetype'), url(/fonts/PingFang_Bold.svg?e8135f2f1aad288f7ca8327504e276cb) format('svg');
}
@font-face {
  font-family: 'pingFangHeavy';
  src: url(/fonts/PingFang_Heavy_0.eot?184418136760b26babf02e01ecfafacd);
  src: url(/fonts/PingFang_Heavy_0.woff?1af360b62fc177b27111c4dc454ddcd4) format('woff'), url(/fonts/PingFang_Heavy_0.ttf?1c97d8de88f3e2936c2595978a781990) format('truetype'), url(/fonts/PingFang_Heavy_0.svg?f53a351e263e29f3ab6be78a020b745e) format('svg');
}
.font-extra-light {
  font-family: "pingFangExtraLight", "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-light {
  font-family: "pingFangLight", "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-regular {
  font-family: "pingFangRegular", "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-medium {
  font-family: 'pingFangMedium', "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-bold {
  font-family: 'pingFangBold', "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
.font-heavy {
  font-family: "pingFangHeavy", "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif !important;
}
#user_admin .main-content .content {
  background-color: #f4f6f9;
}
#user_admin .main-content .content .paper {
  -webkit-box-shadow: 0 0 12px 2px rgba(27, 34, 69, 0.06);
          box-shadow: 0 0 12px 2px rgba(27, 34, 69, 0.06);
}
#user_admin .main-content .content .paper .balance-title span {
  font-size: 16px;
  color: #62676f;
  vertical-align: middle;
}
#user_admin .main-content .content .paper .balance-title .btn {
  font-size: 14px;
  color: #fff;
}
#user_admin .main-content .content .paper .balance {
  font-size: 40px;
  line-height: 40px;
  color: #4274f4;
  font-family: Arial, Helvetica, sans-serif;
}
#user_admin .main-content .content .paper h5 {
  font-size: 22px;
  color: #191c2b;
}
#user_admin .main-content .content .paper h5 .status {
  font-size: 12px;
  color: #96a1b4;
  border: 1px solid #d9dee6;
  background-color: transparent;
  vertical-align: middle;
}
#user_admin .main-content .content .paper p {
  font-size: 14px;
  color: #62676f;
}
#user_admin .main-content .menu {
  width: 170px;
  max-width: 170px;
  height: calc(100vh - 58px);
  background-color: #191c2b;
}
#user_admin .main-content .menu ul {
  list-style: none;
}
#user_admin .main-content .menu ul > li > a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
#user_admin .main-content .menu ul > li > a.active {
  color: #4274f4;
}
#user_admin .main-content .menu ul > li > a.active > .icon.overview {
  background-image: url("/user_assets/images/main_menu/overview_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.server {
  background-image: url("/user_assets/images/main_menu/server_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.gaofang {
  background-image: url("/user_assets/images/main_menu/gaofang_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.finance {
  background-image: url("/user_assets/images/main_menu/finance_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.beian {
  background-image: url("/user_assets/images/main_menu/beian_on.png");
}
#user_admin .main-content .menu ul > li > a.active > .icon.user {
  background-image: url("/user_assets/images/main_menu/user_on.png");
}
#user_admin .main-content .menu ul > li > a > .font-regular {
  vertical-align: middle;
}
#user_admin .main-content .menu ul > li > a > .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
#user_admin .main-content .menu ul > li > a > .icon.overview {
  background-image: url("/user_assets/images/main_menu/overview_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.server {
  background-image: url("/user_assets/images/main_menu/server_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.gaofang {
  background-image: url("/user_assets/images/main_menu/gaofang_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.finance {
  background-image: url("/user_assets/images/main_menu/finance_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.beian {
  background-image: url("/user_assets/images/main_menu/beian_off.png");
}
#user_admin .main-content .menu ul > li > a > .icon.user {
  background-image: url("/user_assets/images/main_menu/user_off.png");
}
#user_admin .navbar-bg {
  background-color: #4274f4;
  -webkit-box-shadow: 0 0 24px 2px rgba(24, 30, 60, 0.2);
          box-shadow: 0 0 24px 2px rgba(24, 30, 60, 0.2);
  position: relative;
  z-index: 99;
}
#user_admin .navbar-bg .nav-item > .nav-link {
  padding-right: 10px;
  color: #fff;
  vertical-align: middle;
}
#user_admin .navbar-bg .nav-item > .nav-link:hover {
  color: #fff;
}
#user_admin .navbar-bg .nav-item > .nav-link.text {
  line-height: 18px;
}
#user_admin .navbar-bg .nav-item > .nav-link span.text {
  color: #d2ddfb;
  font-size: 12px;
  display: inline-block;
  height: 20px;
  line-height: 18px;
  padding: 0 6px;
  border: 1px solid #a6befa;
  border-radius: 4px;
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon {
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon.customer-service {
  background-image: url("/user_assets/images/navbar/customer_service_off.png");
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon.erweima {
  background-image: url("/user_assets/images/navbar/erweima_off.png");
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon.wallet {
  background-image: url("/user_assets/images/navbar/wallet_off.png");
}
#user_admin .navbar-bg .nav-item > .nav-link span.icon.user {
  background-image: url("/user_assets/images/navbar/user_off.png");
}
