/node_modules
/public/hot
/public/storage
/public/tz_assets
#/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/u.php
public/ErrorFiles/510.html
public/ErrorFiles/504.html
public/ErrorFiles/503.html
public/ErrorFiles/502.html
public/ErrorFiles/500.html
public/ErrorFiles/404.html
public/ErrorFiles/403.html
public/ErrorFiles/401.html
public/ErrorFiles/400.html
public/.uini
/routes
/bootstrap
/config
/database
/doc
/storage
/tests
/app/Admin/Controllers/*
!/app/Admin/Controllers/Show
/temporary_file.code-workspace