.tz-main-head {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  z-index: 999;
  width: 100%;
}
.tz-navbar-style {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
}
.tz-navbar-style .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tz-navbar-style ul.navbar-nav {
  height: 100%;
}
.tz-navbar-style ul.navbar-nav li {
  height: 100%;
}
.tz-navbar-style ul.navbar-nav li a {
  display: inline-block;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
