body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.CDNpromotions-root {
    padding: 0;
}
.CDNpromotions-head {
    cursor: pointer;
}
.CDNpromotions-to-cdn {
    width: 134px;
    height: 110px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}
.CDNpromotions-body {
    height: 667px;
    background: url(../images1/bg_.png) no-repeat;
    border-top: 1px solid transparent;
    margin-top: -1px; 
}
.CDNpromotions-container {
    margin-top: 128px;
}
.CDNpromotions-container .arial {
    font-family: "Arial";
}
.CDNpromotions-product {
    width: 479px;
    height: 447px;
    background: url(../images1/cp.png) no-repeat;
    margin-left: 100px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    text-align: center;
}
.CDNpromotions-product h3 {
    margin: 0;
    padding: 0;
    width: 478px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 30px;
}

.CDNpromotions-container-infos {
    margin-top: 52px;
    margin-bottom: 42px; 
}
.CDNpromotions-container-infos.special {
    margin-top: 20px;
    margin-bottom: 30px; 
}
.CDNpromotions-container-infos p {
    color: #fff;
    font-size: 26px;
    text-align: center;
}
.CDNpromotions-to {
    width: 185px;
    height: 49px;
    display: inline-block;
    background: url(../images1/goumai.png) no-repeat;
    text-indent: -999999em;
}
.CDNpromotions-tip {
    margin: 0;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
}
.emphasize {
    font-size: 36px;
    color: #b64535;
}