body,
html {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}
#banner img {
  width: 100%;
  vertical-align: bottom;
}
#container {
  background: url(../images/BG_1.png) repeat-y;
  background-size: 100%;
}
#container > .content {
  width: 964px;
  margin: 0 auto;
}
#container > .content > .product > .title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
#container > .content > .product > .content {
  display: flex;
  justify-content: space-around;
}
#container > .content > .product > .content .item {
  height: 180px;
  width: 426px;
  background-image: linear-gradient(310deg, #dc1573, #6301f2);
  border-radius: 8px;
  padding: 30px 25px;
  box-sizing: border-box;
  position: relative;
}
#container > .content > .product > .content .item > span {
  display: block;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
#container > .content > .product > .content .item > span:last-of-type {
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 25px;
  margin: 0;
}
#container > .content > .footer {
  margin-top: 56px;
}
#container > .content > .footer > p {
  color: #fff;
  margin: 0;
  margin-bottom: 18px;
}
#container > .content > .footer > .title {
  font-size: 18px;
}
#container > .content > .footer > .item-content {
  font-size: 16px;
}
#container > .content > .footer > .item-content:last-of-type {
  margin: 0;
  padding-bottom: 18px;
}
