// 防C盾
#C_shield{
    .main-body {
        padding-top: 0;
    }
    .tz-container{
        .main-content{
            background-color: #e7edff;
            // 轮播图
            .posters{
                height: 216px !important;
            }
            .slideshow-one{
                padding-top: 10px;
                padding-bottom: 20px;
                .slideshow-ul-one{
                    .slideshow-li-one{
                        width: 320px;
                        margin: 10px 20px;
                        box-shadow: 2.5px 4.33px 15px 0px rgba( 29, 29, 29, 0.1 );
                        .圆角矩形_595 {
                            border-radius: 10px;
                            background-color: rgb( 255, 255, 255 );
                            box-shadow: 5px 8.66px 30px 0px rgb( 29, 29, 29 );
                            position: absolute;
                            left: 618px;
                            top: 1184px;
                            width: 671px;
                            height: 490px;
                            z-index: 365;
                          }

                        border-radius: 10px;
                        background-color: #fff;
                        padding: 0px 15px 15px 15px;
                        div:nth-child(1){
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            border-bottom: 1px solid #c5cbdc;
                        }
                        div:nth-child(3){
                            p:nth-child(1){
                                font-size: 22px;
                                font-family: "PingFang";
                                background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                text-align: center;
                            }
                            p:nth-child(2){
                                font-size: 10px;
                                font-family: "PingFang";
                                color: rgb( 106, 109, 120 );
                                text-align: center;
                            }
                        }
                        div:nth-child(2){
                            text-align: left;
                            margin: 10px 0px;
                            div{
                                height: 20px;
                                line-height: 20px;
                                display: inline-block;
                                font-size: 12px;
                                font-family: "PingFang";
                                color: rgb( 106, 109, 120 );
                                text-align: left;
                                border: none;
                                p{
                                    font-size: 10px;
                                    display: inline-block;
                                    color: #fff;
                                    border-radius: 10px;
                                    padding: 0px 5px;
                                    background-color: #9da2b0;
                                }
                                p:nth-child(2){
                                    margin-left: 15px;
                                }
                            }
                        }
                        a{
                            display: block;
                            background-color: #3051f6;
                            font-size: 14px;
                            border-radius: 20px;
                            width: 280px;
                            height: 40px;
                            text-align: center;
                            line-height: 40px;
                            color: #fff;
                            margin: 10px auto;
                        }
                    }
                }
            }
            .package{

                padding-bottom: 20px;
                background-color: #fff;
                .package-item{
                    margin-bottom: 15px;
                    width: 100%;
                    text-align: center;
                    background-color: #eceff6;
                    border-radius: 10px;
                    border: 1px dashed #b5bccf;
                    box-sizing: border-box;
                    padding: 10px 9px 15px 9px;
                    .package-n{
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                        color: rgb( 37, 43, 58 );
                        font-weight: bold;
                        text-align: center;
                    }
                    img{
                        width: 165px;
                        margin: 0 auto;
                    }
                    .package-item-i{
                        float: left;
                        background-color: #fff;
                        height: 210px;
                        width: 145px;
                        padding: 5px 0px;
                        border-radius: 10px;
                        box-shadow: 1px 1px 5px 0px rgb(191, 193, 199);
                        div{
                            margin: 0px 10px 10px;
                            font-size: 14px;
                            text-align: center;
                            color: #393f4f;
                            height: 30px;
                            line-height: 30px;
                            box-shadow: 0px 2px 4px 0px #e8e8e9;
                            border-bottom: 1px solid #d7dce9;
                        }
                        ul{
                            li{
                                margin-bottom: 5px;
                                font-size: 12px;
                                color: rgb( 90, 94, 103 );
                                text-align: left;
                                padding-left: 10px;
                                p{
                                    margin-right: 5px;
                                    display: inline-block;
                                    background-color: #9da2b0;
                                    color: #fff;
                                    font-size: 12px;
                                    height: 16px;
                                    line-height: 16px;
                                    padding: 0 5px;
                                    border-radius: 10px;
                                }
                                span{
                                    margin-left: 45px;
                                }
                            }
                            li:last-child{
                                span{
                                    margin: 0px 5px 0px 0px;
                                    font-size: 14px;
                                    color: rgb( 253, 84, 25 );
                                }
                            }
                        }
                        p{
                            display: inline-block;
                            font-size: 10px;
                            color: rgb( 90, 94, 103 );
                            text-align: left;
                            padding: 0 10px;
                        }
                    }
                    .package-item-i:nth-child(1){
                        margin-right: 10px;
                    }
                    a{
                        display: block;
                        width: 280px;
                        height: 40px;
                        font-size: 14px;
                        color: #fff;
                        line-height: 40px;
                        background-color: #3051f6;
                        border-radius: 20px;
                        margin: 10px auto;
                    }
                }
            }
            .slideshow{
                background-color: #fff;
                position: relative;
                overflow: hidden;
                margin-bottom: 0px;
                padding-bottom: 20px;
                ul.slideshow-ul{
                    li.slideshow-li{
                        position: absolute;
                        width: 100%;
                        background-color: #fff;
                        top: 0;
                        left: 0;
                        -webkit-transform: translateX(300%);
                        transform: translateX(300%);
                        padding: 0px 40px;
                        text-align: center;
                        img{
                            width: 40px;
                        }
                        div{
                            font-size: 14px;
                            color: #252b3a;
                            font-weight: bold;
                            margin: 5px 0px;
                        }
                        p{
                            font-size: 12px;
                            color: #444;
                        }
                    }
                }
                .point{
                    margin-top: 20px;
                    width: 360px;
                    height: 20px;
                    text-align: center;
                    background-color: #fff;
                    ol{
                        width:100% ;
                        text-align: center;
                        font-size: 0;
                        li{
                            width: 10px ;
                            height: 10px ;
                            border-radius: 50%;
                            margin: 0px 5px;
                            background-color: #c0c4d3;
                            display: inline-block;
                        }
                        li.point-active{
                            background-color: #162fab;
                        }
                    }
                }
            }
        }
    }
}
