#server_hire .main-body {
  padding-top: 0;
}
#server_hire .main-content .active {
  display: block !important;
}
#server_hire .main-content .nothing {
  display: none;
  width: 100%;
  height: 270px;
  background-color: #fff;
  text-align: center;
  line-height: 210px;
}
#server_hire .main-content .one-t {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 35px;
}
#server_hire .main-content .one-t .slide-ul .slide-li {
  display: none;
  padding: 0px 20px;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i {
  width: 100%;
  border: 1px solid #c5cbdc;
  box-shadow: 1px 2px 15px 0px rgba(2, 17, 91, 0.2);
  border-radius: 10px;
  background-color: #fff;
  padding: 5px 20px 10px 20px;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i div {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #c5cbdc;
  margin-bottom: 15px;
  font-size: 14px;
  color: #252b3a;
  font-weight: bold;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li {
  text-align: left;
  font-size: 12px;
  color: #5a5e67;
  margin: 0px 10px 10px 0px;
  position: relative;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li p {
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  background-color: #9da2b0;
  color: #fff;
  font-size: 10px;
  text-align: left;
  border-radius: 8px;
  margin-right: 3px;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .p1,
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .p2,
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .p3 {
  position: absolute;
  left: 50%;
  margin-left: 5px;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li span {
  display: inline-block;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .p {
  position: absolute;
  left: 50%;
  margin-left: 44px;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .pw {
  position: absolute;
  left: 50%;
  margin-left: 70px;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .span2-1 {
  font-size: 22px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 50px;
  top: -6px;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .span2-2 {
  font-size: 22px;
  top: -6px;
  position: absolute;
  left: 50%;
  margin-left: 55px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .span1-1,
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .span1-2 {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .span1-2 {
  position: absolute;
  left: 50%;
  margin-left: 43px;
  top: -3px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i ol li .span1-1 {
  position: absolute;
  left: 39px;
  top: -3px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .one-t .slide-ul .slide-li .slide-li-i a {
  display: block;
  background-color: #3051f6;
  font-size: 14px;
  border-radius: 20px;
  width: 290px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin: 10px auto;
}
#server_hire .main-content .one-t .point {
  margin-top: 0px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding-top: 5px;
  margin-bottom: 10px;
}
#server_hire .main-content .slideshow {
  background-color: #fff;
  padding-top: 10px;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li {
  background-color: #fff;
  padding: 0px 20px;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i {
  margin: 0px;
  width: 100%;
  border: 1px solid #c5cbdc;
  box-shadow: 1px 2px 15px 0px rgba(2, 17, 91, 0.2);
  border-radius: 10px;
  background-color: #fff;
  padding: 5px 20px 10px 20px;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i div {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #c5cbdc;
  margin: 0px 0px 15px 0px;
  font-weight: bold;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li {
  text-align: left;
  font-size: 12px;
  color: #5a5e67;
  margin: 0px 9px 10px 0px;
  position: relative;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li p {
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  background-color: #9da2b0;
  color: #fff;
  font-size: 10px;
  text-align: left;
  border-radius: 8px;
  margin-right: 4px;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .nc-a,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .nc-b,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .nc-c,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .nc-d,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .nc-e {
  position: absolute;
  left: 50%;
  margin-left: 44px;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .fy-a,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .fy-b,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .fy-c,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .fy-d,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .fy-e {
  position: absolute;
  left: 50%;
  margin-left: 70px;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .span-a-b,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .span-b-b,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .span-c-b,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .span-d-b,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .span-e-b {
  position: absolute;
  left: 185px;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .p1,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .p2,
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .p3 {
  position: absolute;
  left: 50%;
  margin-left: 5px;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li span {
  display: inline-block;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .span2-1 {
  font-size: 22px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 46px;
  margin-top: -6px;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .span2-2 {
  font-size: 22px;
  margin-top: -6px;
  position: absolute;
  left: 50%;
  margin-left: 54px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .span1-2 {
  position: absolute;
  left: 50%;
  margin-left: 43px;
  top: -5px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i ol li .span1-1 {
  position: absolute;
  left: 36px;
  top: -5px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .slideshow .slideshow-ul .slideshow-li .slide-li-i a {
  display: block;
  background-color: #3051f6;
  font-size: 14px;
  border-radius: 20px;
  width: 290px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin: 10px auto;
}
#server_hire .main-content .slideshow .point {
  margin-top: 25px;
  background-color: #fff;
  height: 10px;
  padding-top: 0px;
  margin-bottom: 15px;
}
#server_hire .main-content .slideshow-a {
  display: none;
  background-color: #fff;
  padding-top: 10px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a {
  padding: 0px 20px;
  background-color: #fff;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i {
  width: 100%;
  border: 1px solid #c5cbdc;
  box-shadow: 1px 2px 15px 0px rgba(2, 17, 91, 0.2);
  border-radius: 10px;
  background-color: #fff;
  padding: 5px 20px 10px 20px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i div {
  margin-bottom: 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #c5cbdc;
  font-weight: bold;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li {
  text-align: left;
  font-size: 12px;
  color: #5a5e67;
  margin: 0px 10px 10px 0px;
  position: relative;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li p {
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  background-color: #9da2b0;
  color: #fff;
  font-size: 10px;
  text-align: left;
  border-radius: 8px;
  margin-right: 3px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .nc-a,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .nc-b,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .nc-c,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .nc-d,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .nc-e {
  position: absolute;
  left: 190px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .fy-a,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .fy-b,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .fy-c,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .fy-d,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .fy-e {
  position: absolute;
  left: 207px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .span-a-b,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .span-b-b,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .span-c-b,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .span-d-b,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .span-e-b {
  position: absolute;
  left: 195px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .p1,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .p2,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .p3 {
  position: absolute;
  left: 50%;
  margin-left: 5px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li span {
  display: inline-block;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .span2-1 {
  font-size: 22px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 46px;
  top: -6px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .span2-2 {
  font-size: 22px;
  top: -6px;
  position: absolute;
  left: 50%;
  margin-left: 54px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .span1-2 {
  position: absolute;
  left: 50%;
  margin-left: 50px;
  top: -3px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .span1-1 {
  position: absolute;
  left: 36px;
  top: -3px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .nc-a-a,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .nc-b-a,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .nc-c-a,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .nc-d-a {
  position: absolute;
  left: 50%;
  margin-left: 44px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .fy-a-a,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .fy-b-a,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .fy-c-a,
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i ol li .fy-d-a {
  position: absolute;
  left: 50%;
  margin-left: 70px;
}
#server_hire .main-content .slideshow-a .slideshow-ul-a .slideshow-li-a .slideshow-li-a-i a {
  display: block;
  background-color: #3051f6;
  font-size: 14px;
  border-radius: 20px;
  width: 290px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin: 10px auto;
}
#server_hire .main-content .slideshow-a .point-a {
  margin-top: 40px;
  background-color: #fff;
  height: 10px;
  margin-bottom: 25px;
}
#server_hire .main-content .drop-down-options {
  margin-top: 0px;
  background-color: #fff;
  padding: 15px 0px 5px;
}
#server_hire .main-content .drop-down-options .drop-options:hover {
  border: 1px solid #162fac;
  box-shadow: 0px 0px 5px 0px rgba(22, 47, 172, 0.5);
}
#server_hire .main-content .drop-down-options .drop-options:hover p {
  border-right: 1px solid #162fac;
}
#server_hire .main-content .drop-down-options .drop-options:hover span {
  border-color: #162fac;
}
#server_hire .main-content .drop-down-options .drop-options {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #c5cbdc;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  border-radius: 5px;
  position: relative;
}
#server_hire .main-content .drop-down-options .drop-options p {
  display: inline-block;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  border-right: 1px solid #c5cbdc;
  color: #162fac;
  font-weight: bold;
  margin: 5px 5px 5px 10px;
  padding-right: 10px;
}
#server_hire .main-content .drop-down-options .drop-options select {
  padding: 0 10px;
  width: 68%;
  border: none;
  height: 30px;
  -webkit-tap-highlight-color: #fff;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}
#server_hire .main-content .drop-down-options .drop-options select .none {
  display: none;
}
#server_hire .main-content .drop-down-options .drop-options span {
  display: inline-block;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 15px;
  right: 15px;
  border-left: 2px solid #8690a9;
  border-bottom: 2px solid #8690a9;
  transform: rotate(-45deg);
}
#server_hire .main-content .tz-fuwu {
  padding-bottom: 0px;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li:last-child {
  border-bottom: none;
  padding-bottom: 30px;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li {
  border-bottom: 1px solid #a5b3d5;
  padding-bottom: 20px;
  background-color: transparent;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .server-hire_ul {
  width: 69%;
  float: left;
  padding: 0px;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .server-hire_ul li {
  height: 20px;
  line-height: 20px;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .server-hire_ul li p {
  font-size: 12px;
  font-family: "PingFang";
  color: #666a75;
  display: inline-block;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .server-hire_ul li img {
  width: 10px;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .price {
  float: right;
  position: relative;
  margin-top: 30px;
  margin-right: 15px;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .price span {
  font-size: 8px;
  display: block;
  position: absolute;
  left: -10px;
  top: -5px;
  background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .price .money {
  font-size: 12px;
  color: #666a75;
  text-align: center;
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .price .money p {
  display: inline-block;
  font-size: 22px;
  color: #fd7919;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .price .money p {
    background: -webkit-gradient(linear, left top, right top, from(#fd7919), to(#fd4b19));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
#server_hire .main-content .tz-fuwu .tz-fuwu-box .fuwu-li .server-hire_items .price a {
  margin-top: -10px;
  display: block;
  color: #fff;
  font-size: 14px;
  width: 100px;
  text-align: center;
  line-height: 28px;
  border-radius: 20px;
  height: 28px;
  background-color: #3051f6;
}
#server_hire .main-content .compouter-advantage .advantage-li ul li img {
  margin-top: 5px;
}
