.tz-container{
    width: 100%;
    .main-body{
        padding-top: 0px;
    }
    .main-content{
        background-color: #e9ecff;
        // 行业问题
        .title{
            width: 100%;
            text-align: center;
            p{
                display: block;
                color: #252b3a;
                font-size: 18px;
                font-family: "pingFang", "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif;
            }
        }
        .industry-problems{
            margin-top: 10px;
            ul{
                width: 100%;
                padding-bottom: 20px;
                li{
                    float: left;
                    width: 47.327%;
                    // height: 138px;
                    background-color: #fff;
                    // box-shadow: 2.5px 4px 15px 0px rgba( 29, 29, 29, 0.1 );
                    margin-bottom: 15px;
                    border-radius: 5px;
                    padding: 15px 13px;
                    // height: 145px;
                    .industry-title{
                        margin-bottom: 10px;
                        // position: relative;
                        img{
                            width: 20px;
                            margin-right: 5px;
                        }
                        p{
                            // position: absolute;
                            top: 2px;
                            width: 80%;
                            margin-left: 30px;
                            margin-top: -25px;
                            font-size: 14px;
                            font-family: "PingFang";
                            color: rgb( 37, 43, 58 );
                            font-weight: bold;
                        }
                    }
                    .industry-text{
                        font-size: 12px;
                        font-family: "PingFang";
                        color: rgb( 106, 109, 120 );
                        position: relative;
                        // padding-left: 7px; 
                        line-height: 1.5;
                        margin: 0px 0px; 
                        text-shadow: 2.5px 5px 15px rgba( 29, 29, 29, 0.2 );
                        span{
                            position: absolute;
                            display: inline-block;
                            top: 6px;
                            left: 0px;
                            width: 3px;
                            height: 3px;
                            // margin: 3px 3px 4px 0px;
                            border-radius: 50%;
                            background-color: #162fab;
                        }
                    }
                }
                .p{
                    padding: 15px 10px !important;
                    height: 130px;
                }
                .m{
                    margin-right: 15px;
                }
            }
            // 轮播图
            .slideshow{
                position: relative;
                overflow: hidden;
                ul.slideshow-ul{
                    li.slideshow-li{
                        position: absolute;
                        background-color: #e9eeff;
                        width: 100%;
                        top: 0;
                        left: 0;
                        -webkit-transform: translateX(300%);
                        transform: translateX(300%);
                        padding: 0px 40px;
                        text-align: center;
                        img{
                            width: 40px;
                        }
                        div{
                            font-size: 14px;
                            color: #252b3a;
                            font-weight: bold;
                            margin: 5px 0px;
                        }
                        p{
                            font-size: 12px;
                            color: #444;
                        }
                    }
                }
                .point{
                    // margin-top: 20px;
                    // width: 360px;
                    height: 10px;
                    text-align: center;
                    ol{
                        width:100% ;
                        text-align: center;
                        font-size: 0;
                        li{
                            width: 10px ;
                            height: 10px ;
                            border-radius: 50%;
                            margin: 0px 5px;
                            background-color: #c0c4d3;
                            display: inline-block;
                        }
                        li.point-active{
                            background-color: #162fab;
                        }
                    }
                }
            }
        }
        // 架构部署
        .architecture-deployment{
            background-color: #fff;
            img{
                width: 100%;
                margin-top: 10px;
            }
            .description{
                padding: 15px 0 30px 0;
                .description-title{
                    font-size: 14px;
                    font-family: "PingFang";
                    color: rgb( 37, 43, 58 );
                    font-weight: bold;
                    text-align: left;
                    margin: 5px 0;
                }
                div{
                    color: #434a5b;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 1.667;
                    margin: 5px 0px 2px 0px;
                }
                p{
                    font-size: 12px;
                    font-family: "PingFang";
                    color: rgb( 106, 109, 120 );
                    line-height: 1.667;
                    text-align: justifyLeft;
                }
            }
        }
        // 服务优势
        .service-advantages{
            background: linear-gradient(#edf0ff,#fff);
            position: relative;
            img{
                width: 100%;
                padding: 0px 60px;
                margin-bottom: 10px; 
                margin-top: 10px; 
            }
            .backgroundimg{
                width: 100%;
                position: absolute;
                top: 300px;
                left: 0;
                z-index: -1 !important;
                padding: 0 !important;
            }
            ul{
                z-index: 100;
                padding: 15px 0px;
                li{
                    padding: 15px 0px;
                    width: 100%;
                    background-color: #fff;
                    border-radius: 10px;
                    margin-bottom: 15px;
                    box-shadow: 1.5px 2.5px 15px 0px rgba( 4, 38, 107, 0.2 );
                    .fuwu-txt{
                        padding-right: 15px !important; 
                    }
                    .fuwu-title{
                        padding-left: 15px;
                        font-size: 14px;
                        font-family: "PingFang";
                        color: rgb( 37, 43, 58 );
                        font-weight: bold;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                    .fuwu-txt{
                        padding-left: 15px;
                        padding-right: 10px;
                        line-height: 20px;
                        font-size: 12px;
                        text-align: left;
                        font-family: "PingFang";
                        color: rgb( 102, 106, 117 );
                    }
                }
            }
            .solutions-consulting{
                height: 123.2px;
                position: relative;
                img{
                    width: 100%;
                    padding: 0px !important;
                }
                a{
                    display: block;
                    color: #fff;
                    text-align: center;
                    line-height: 40px;
                    position: absolute;
                    bottom: 25px;
                    left: calc(100%/2-22px);
                    width: 160px;
                    height: 40px;
                    border: 1px solid #fff;
                    border-radius: 20px;
                }
            }
        }
    }
}
#education_solution,
#media_solution,
#deployment_solution,
#game_solution,
#financial_solution{
    .industry-problems{
        ul{
            li{
                box-shadow: 2.5px 4px 15px 0px rgba(29, 29, 29, 0.1);
            }
        }
    }
}
#game_solution{
    .industry-problems{
        ul{
            li{
                .industry-text{
                    padding-left: 7px;
                }
            }
        }
    }
}