@CHARSET "UTF-8";
.cdnpro{
	width: 1214px;
	height: 460px;
	margin: 50px auto 0;
}
.cdnpro-pro {
	float: left;
	width: 330px;
	height: 376px;
	margin-left:100px;
}
.cdnpro-name{
	border-bottom: 5px #fff solid;
	border-right: 5px #fff solid;
	background-color: #595758;
	position: absolute;
	width: 90px;
	height:90px;
	font-size: 25px;
	font-weight: 700;
	color: #F9C500;
	padding: 10px;
	padding-left: 16px;
}
.cdnpro-name-trigon{
	width: 0;
    height: 0;
    border-top: 30px solid #F9C500;
    border-right: 30px solid transparent;
    position: absolute;
    margin-left: -16px;
    margin-top: -10px;
}
.cdnpro-name-trigon span{
	display: block;
	font-size: 19px;
	font-weight: 500;
	color: #000;
	margin-left: 2px;
	margin-top: -32px;
}
.cdnpro-detail{
	margin: 10px;
	width: 320px;
	height: 365px;
	padding: 20px;
	background-color: #595758;
}
.cdnpro-detail-params{
	width: 100%;
	height: 60px;
}
.cdnpro-detail-params ul{
	float: right;
	list-style: none;
	padding-left: 0px;
	font-size: 20px;
	line-height: 30px;
	color: #F9C500;
	margin-right: 18px;
}
.cdnpro-detail-direction{
	width: 100%;
	height: 180px;
	padding: 10px;
	border-bottom: 1px #F9C500 solid;
	color: #F9C500;
	font-size: 18px;
	padding-top:30px;
}
.cdnpro-detail-direction-title{
	border-left: 4px #F9C500 solid;
	padding-left: 10px;
}
.cdnpro-detail-direction-content{
	line-height: 30px;	
}
.cdnpro-detail-get{
	width: 100%;
	height: 90px;
	text-align: center;
	padding-top: 10px;
}
.cdnpro-detail-get-price{
	font-size: 23px;
	color: #F9C500;
}
.cdnpro-detail-btn{
	width: 160px;
	height: 30px;
	cursor: pointer;
	color: #595758;
	background-color: #F9C500;
	pading: 5px 20px 5px 20px;
	margin: 0 auto;
	margin-top: 10px;
	padding-top: 4px;
}


.def-type {
	width: 1150px;
	height: auto;
	min-width: 1150px;
	margin: 0 auto;
	margin-top: 60px;
}

.def-type .types {
	padding: 0 50px 50px 50px;
	width: 1152px;
	height: 423px;
}

.types-text {
	float: left;
	width: 569px;
	height: auto;
}
.types-text ul{
	list-style: url("/tz/images/fcdun/dot.png");
}
.types-text ul li{
	font-size: 18px;
	margin-top: 40px;
}
.types-text ul li span {
	font-size: 33px;
	font-weight: 700;
	color: #146ec9;
	padding-right: 20px;
}

.types-img {
	width: 477px;
	height: auto;
	float: left;
}