body {
	background: #FFF;
}
.human{
	width: 130px;
	height: 40px;
	display:block;
	text-align: center;
	padding-top: 10px;
	background: #FFF;
	font-family: Microsoft YaHei;
	font-size: 15px;
	color:#000;
	margin-left: 20px;
}

.human:hover {
text-decoration:none;
color:#FFF;
background-color: #FB645D;
}

.colort{
	text-decoration: none;
	color: #FFF;
	background-color: #FB645D;
}

/* @media ( min-width :600px) {
	
}

@media ( min-width :768px) {
	
	.ones{
		margin-left: 30px;
		width: 30%;
	}
	
	.oness{
		margin-left: 30px;
		width: 30%;
	}
	
	.wifi{
		width: 60%
	}
	
	.com{
		width: 60%;
		margin-top: 50px;
	}
	
	.comtext{
		width: 40%
	}
}

@media ( min-width :980px) {
}

@media ( min-width :992px) {
	.ones{
		margin-left: 30px;
		width: 30%;
	}
	
	.oness{
		margin-left: 30px;
		width: 30%;
	}
	
	.wifi{
		width: 60%
	}
	
	.com{
		width: 60%;
		margin-top: 45px;
	}
	
	.comtext{
		width: 40%
	}
}

@media ( min-width :1100px) {
	
	.ones{
		margin-left: 40px;
		width: 30%;
	}
	
	.oness{
		margin-left: 40px;
		margin-top:5px;
		width: 30%;
	}
	
	.wifi{
		width: 60%
	}
	
	.com{
		width: 60%;
		margin-top: 28px;
	}
	
	.comtext{
		width: 40%
	}
}

@media ( min-width :1200px) {
	
	.ones{
		margin-left: 80px;
		width: 30%;
	}
	
	.oness{
		margin-left: 80px;
		margin-top:5px;
		width: 30%;
	}
	
	.wifi{
		width: 55%
	}
	
	.com{
		width: 60%;
		margin-top: 10px;
	}
	
	.comtext{
		width: 40%
	}
}

@media ( min-width :1400px) {
	.ones{
		margin-left: 130px;
		width: 30%;
	}
	
	.oness{
		margin-left: 130px;
		margin-top:23px;
		width: 30%;
	}
	
	.wifi{
		width: 50%
	}
	
	.com{
		width: 50%;
		margin-top: 0px;
	}
	
	.comtext{
		width: 50%
	}
	
}

@media ( min-width :1600px) {
	
	.ones{
		margin-left: 200px;
		margin-top: 30px;
		width: 30%;
	}
	
	.oness{
		margin-left: 200px;
		margin-top: 45px;
		width: 30%;
	}
	
	.wifi{
		width: 40%
	}
	
	.com{
		width: 40%
	}
	.comtext{
		width: 50%;
		margin-top: 8px;
	}
	
} */



.ones{
		margin-left: 200px;
		margin-top: 30px;
		width: 30%;
	}
	
	.oness{
		margin-left: 200px;
		margin-top: 45px;
		width: 30%;
	}
	
	.wifi{
		width: 40%
	}
	
	.com{
		width: 40%
	}
	.comtext{
		width: 50%;
		margin-top: 8px;
	}