dl dd a {
	color: #DCB010;
	font-size: 20px;
	font-family: Microsoft YaHei;
}

dl dd a:hover {
	color: #DCB010;
	text-decoration: underline;
}

dl dt {
	margin-top: 5px;
}

dl dt a {
	color: #FFF;
	font-size: 15px;
}

dl dt a:hover {
	color: #FFF;
	text-decoration: underline;
}

.tz {
	float: left
}

/* @media ( min-width :600px) {
	.tu1 {
		width: 450px;
	}
	.tu2 {
		width: 520px;
	}
}

@media ( min-width :768px) {
	.bottomone {
		padding-top: 50px;
		margin-left: 30px;
	}
	.base {
		padding-top: 50px;
		margin-left: 30px;
	}
	.tz {
		padding-top: 50px;
		margin-left: 0px;
	}
	.temp {
		margin-left: 330px;
	}
	.temp img {
		width: 400px;
	}
	.tu1 {
		width: 450px;
	}
	.tu2 {
		width: 520px;
	}
}

@media ( min-width :980px) {
	.temp {
		margin-left: 330px;
	}
	.temp img {
		width: 400px;
	}
	.tu1 {
		width: 450px;
	}
	.tu2 {
		width: 520px;
	}
}

@media ( min-width :992px) {
	.bottomone {
		padding-top: 50px;
		margin-left: 30px;
	}
	.bottomtwo {
		margin-left: 10px;
	}
	.base {
		padding-top: 30px;
		margin-left: 30px;
	}
	.tz {
		padding-top: 30px;
		margin-left: 30px;
	}
	.temp {
		margin-left: 330px;
	}
	.temp img {
		width: 400px;
	}
	.tu1 {
		width: 450px;
	}
	.tu2 {
		width: 520px;
	}
}

@media ( min-width :1100px) {
	.bottomone {
		padding-top: 50px;
		margin-left: 30px;
	}
	.bottomtwo {
		margin-left: 30px;
	}
	.base {
		padding-top: 30px;
		margin-left: 30px;
	}
	.tz {
		padding-top: 30px;
		margin-left: 90px;
	}
	.temp {
		margin-left: 30px;
	}
	.temp img {
		width: 400px;
	}
	.tu1 {
		width: 450px;
	}
	.tu2 {
		width: 520px;
	}
}

@media ( min-width :1200px) {
	.bottomone {
		padding-top: 50px;
		margin-left: 50px;
	}
	.bottomtwo {
		margin-left: 80px;
	}
	.base {
		padding-top: 30px;
		margin-left: 50px;
	}
	.tz {
		padding-top: 30px;
		margin-left: 100px;
	}
	.temp {
		margin-left: 50px;
	}
	.tu1 {
		width: 450px;
	}
	.tu2 {
		width: 520px;
	}
}

@media ( min-width :1400px) {
	.bottomone {
		padding-top: 50px;
		margin-left: 150px;
	}
	.bottomtwo {
		margin-left: 80px;
	}
	.base {
		padding-top: 30px;
		margin-left: 150px;
	}
	.tz {
		padding-top: 30px;
		margin-left: 100px;
	}
	.temp {
		margin-left: 140px;
	}
	.tu1 {
		width: 450px;
	}
	.tu2 {
		width: 520px;
	}
}

@media ( min-width :1600px) {
	.bottomone {
		padding-top: 50px;
		margin-left: 280px;
	}
	.bottomtwo {
		margin-left: 150px;
	}
	.base {
		padding-top: 30px;
		margin-left: 280px;
	}
	.tz {
		padding-top: 30px;
		margin-left: 200px;
	}
	.temp {
		margin-left: 330px;
	}
	.tu1 {
		width: 450px;
	}
	.tu2 {
		width: 520px;
	}
} */
.bottomone {
		padding-top: 50px;
		width: 1300px;
		margin: 0 auto;
	}
	.bottomtwo {
		margin-left: 100px;
	}
	.base {
		padding-top: 30px;
		width: 1300px;
		margin: 0 auto;
	}
	.tz {
		padding-top: 30px;
		margin-left: 150px;
	}
	.temp {
		margin-left: 330px;
	}
	.tu1 {
		width: 450px;
	}
	.tu2 {
		width: 520px;
	}