body {
	background: #FFF;
}
.gs{
		width: 53%;
	}
	
	.gsphone{
		width: 47%;
		font-size: 17px;
		line-height: 50px;
		margin-top: 50px;
	}
	.qqtxt{
		line-height: 30px;
		margin-left: 45px;
		font-size: 17px;
	}
	.qqtext{
		line-height: 27px;
		margin-left: 45px;
	}
	.twotxt{
		margin-left: 115px;
		width: 27%;
	}
	.onetxt{
		width: 27%;
	}

.contact{ padding:65px 0 px; font-size:14px; color:#2d2d2d; /* margin-top:30px; margin-left:5px; */}
.contact-consulting{/* border-top:1px solid #ededed;  */}
.contact-consulting table{ border-collapse:collapse; border:1px solid #e6e6e6; border-left:0; border-right:0;border-bottom:0; width:711px;}
.contact-consulting th{ text-align:center; padding:12px 45px 12px 1%; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.contact-consulting td{ text-align:left; padding:12px 0 12px 7%; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.contact-consulting th{ font-size:18px; font-weight:bold; background:#f9f9f9;}
.contact-consulting img{ vertical-align:middle; margin-right:8px;}
.contact-consulting a{ color:#2d2d2d; vertical-align:middle;}
.contact-consulting a:hover{ color:#fc635e;}
.contact-consulting a.email,.contact-consulting a.email:hover{ text-decoration:underline; color:#7a97b1;}