.hear {
	width: auto;
	height: 50px;
	display: block;
	color: #FFF;
	text-decoration: none;
	font-family: Microsoft YaHei;
	font-size: 18px;
	text-align: center;
	padding-top: 14px !important;
}

.hears {
	width: auto;
	height: 50px;
	display: block;
	padding-top: -50px;
	color: #FFF;
	text-decoration: none;
	font-family: Microsoft YaHei;
	font-size: 18px;
	text-align: center;
	padding-top: 14px !important;
}

#menuone{
	width: 200%;
	height: 260px;
	background-image: url(/tz/images/index/kuang.png);
	position: fixed;
	display: none;
	z-index: 9999;
	margin-top: 0px;
	background: #dfdddd;
	margin-top: 15px;
	margin-left: -750px !important;
}

#menutwo{
	z-index: 9999;
	position: fixed;
	width: 200%;
	height: 260px;
	background-image: url(/tz/images/index/kuang.png);
	display: none;
	margin-left: -985px;
	margin-top: 0px;
	background: #dfdddd;
	margin-top: 15px;
	margin-left: -1120px !important;
}

/* @media ( min-width :992px) {
	.menu {
		margin-left: 100px;
	}
}

@media ( min-width :1200px) {
	.navbar-header {
		margin-left: -120px;
	}
	.menu {
		margin-left: 250px;
	}
	
}

@media ( min-width :1400px) {
	.menu {
		margin-left: 333px;
	}
	
	#menuone{
		margin-left: -500px
	}
}

@media ( min-width :1600px) {
	.menu {
		margin-left: 535px;
	}
	
	#menuone{
		margin-left: -612px
	}
} */
	.menu {
		margin-left: 602px;
	}
	
	#menuone{
		margin-left: -612px
	}

.floating_ck{
	position:fixed;
	right:10px;
	top:50%;
	z-index: 999999;
	margin-top: -172px;
}
.floating_ck dl dd{
	position:relative;
	width:70px;
	height:70px;
	background-color:#F9C500;
	text-align:center;
	background-repeat:no-repeat;
	background-position:center 20%;
	cursor:pointer;
	margin-bottom: 10px;
}
.floating_ck dl dd:hover{
	background-color:#F9C500;
}
.floating_ck dl dd:hover .floating_left{
	display:block;
}
.consult{
	background-image:url(/tz/images/index/QQ.png);
}
.jssh{
	background-image:url(/tz/images/index/wxd.png);
}
.words{
	background-image:url(/tz/images/index/bazx.png);
}
.return{
	background-image:url(/tz/images/index/top.png);
}
.floating_ck dd span{
	color:#000;
	display:block;
	padding-top:44px;
}


.floating_left{position:absolute;left:-160px;top:0px;width:160px;height:70px;background-color:#e40231;border-bottom:solid 1px #a40324;display:none;}
.floating_left a{color:#fff;line-height:80px;}

.login{
	display: block;
	float:left;
	width: 70px;
	text-align: center;
	color:#FFF;
	font-family: Microsoft YaHei;
	text-decoration: none
}

.login:hover{
	text-decoration: none;
	background: #F9C500;
	color:#000
}