.addba{
	background: #FFF  !important;
	border:1px solid #A7A7A7;
	width: 350px !important;
	height: 450px !important;
	z-index: 99 !important;
	position: absolute !important;
	margin-top: -13px !important;
	margin-left: -15px !important;
}

.imgone{
	float:left;
	width: 290px;
	border: 1px solid #A7A7A7;
	position: absolute;
	background: #EDEDED;
}

.imgtwo{
	float:left;
	width: 290px;
	border: 1px solid #A7A7A7;
	position: absolute;
	background: #EDEDED;
	left:290px;
}

.imgthree{
	float:left;
	width: 290px;
	border: 1px solid #A7A7A7;
	position: absolute;
	background: #EDEDED;
	left:580px;
}

.imgfour{
	float:right;
	width: 290px;
	border: 1px solid #A7A7A7;
	position: absolute;
	background: #EDEDED;
	left:870px;
}

.swiper-container {
	position: relative;
	width: 100%;
	height: 448px;
	top: 125px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

body {
	background: #EDEDED;
}

.ha {
	width: 100px;
	height: 36px;
	display: block;
	line-height: 35px;
	color: #FFF;
	text-decoration: none;
	font-family: Microsoft YaHei;
	font-size: 18px;
}

.ha:hover {
	text-decoration: none;
	color: #000;
	background-color: #F5C200;
}

.game {
	background: #FFF;
	height: 350px;
	margin: 0 auto;
	width: 1162px;
}

.xing {
	max-width: 384px;
}

/* @media ( min-width :600px) {
}

@media ( min-width :768px) {
	.gametext {
		margin-top: 80px;
		width: 500px;
	}
}

@media ( min-width :980px) {
	.gametext {
		margin-top: 10px;
		width: 500px;
	}
}

@media ( min-width :992px) {
	.ga {
		margin-left: 100px;
	}
	.menu {
		margin-left: 100px;
	}
	.gametext {
		margin-top: 80px;
		width: 500px;
	}
}

@media ( min-width :1100px) {
}

@media ( min-width :1200px) {
	.ga {
		margin-left: 150px;
	}
	.navbar-header {
		margin-left: -120px;
	}
	.menu {
		margin-left: 250px;
	}
	.gametext {
		margin-top: 80px;
		width: 500px;
	}
	.chanpin{
		width: 1200px;
		height: 430px;
	}
}

@media ( min-width :1400px) {
	.ga {
		margin-left: 350px;
	}
	.menu {
		margin-left: 333px;
	}
	.gametext {
		margin-top: 80px;
		width: 600px;
	}
}

@media ( min-width :1600px) {
	.menu {
		margin-left: 535px;
	}
	.gametext {
		margin-top: 80px;
		width: 700px;
	}
} */
.menu {
		margin-left: 535px;
}
.gametext {
	margin-top: 80px;
	width: 700px;
}
.flip-3d {
	perspective: 163px;
	width: 163px;
	float: left;
}

.flip-3d figure {
	position: relative;
	transform-style: preserve-3d;
	transition: 1s transform;
	font-size: 1.6rem;
	margin: 25px;
}

.flip-3d figure img {
	width: 100%;
	height: auto;
}

.flip-3d figure figcaption {
	position: absolute;
	width: 100%;
	height: 112px;
	top: 0;
	transform: rotateY(.5turn) translateZ(1px);
	text-align: center;
	padding-top: 45%;
	opacity: 0.6;
	transition: 1s .5s opacity;
}

#pic1 {
	background: url(/tz/images/index/team.png);
}

#pic2 {
	background: url(/tz/images/index/three.png);
}

#pic3 {
	background: url(/tz/images/index/four.png);
}

#pic4 {
	background: url(/tz/images/index/two.png);
}

.flip-3d:hover figure {
	transform: rotateY(.5turn);
}

.flip-3d:hover figure figcaption {
	opacity: 1;
}
/* 	.flip-3d figure:after { 
	  content: " "; display: block;
	  height: 8vw; width: 112px; 
	  transform: rotateX(90deg); 
	} */
@media screen and (max-width: 800px) {
	#flip-3d {
		perspective-origin: center top;
	}
	div#flip-3d figure {
		float: none;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 12vw;
	}
	.flip-3d figure figcaption {
		font-size: 0.8rem;
	}
	div#flip-3d figure:last-child {
		display: none;
	}
}

/**
��˾����
*/
.news{
	font-family:Microsoft YaHei;
	font-size:14px;
	color:#333;
	line-height:1.42857;
}
.news ul li{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	width: 304px;
}
.news ul li a{
	color:#333;
	font-size: 14px;
	font-family: Microsoft YaHei;
	margin-top: 10px;
	text-decoration:none;
}
.news ul li a:HOVER {
	color:#aa1e1e;
}

/* 
	��������
 */
 ..partners-1{
 	background:#fafafa none repeat scroll 0 0;
 	color:#474747;
 	line-height:28px;
 	padding-bottom:662px;
 }
.partners-1 dl{
	/* border-top:1px solid #d3d3d3; */
	overflow:hidden;
	padding:25px 0;
	width: 1247px;
	padding-right: 50px;
	margin: 0 auto;
}
.partners-1 dt{
	border-bottom:1px solid #d3d3d3;
	font-size:18px;
	height:30px;
	position: relative;
}
.partners-1 span.current{
	border-color:#aa1e1e #d3d3d3 #fafafa;
	color: #aa1e1e;
	cursor:default;
	z-index: 11;
}
.partners-1 dt span{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #d3d3d3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    bottom: 1px;
    color: #555;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    position: relative;
    text-align: center;
}
.partners-1 dd{
	font-size:16px;
	padding-top: 20px;
}
.partners-1 a{
	color:#474747;
	display: inline-block;
	margin-right: 45px;
	text-decoration:none;
}
.partners-1 a:hover {
	color:#aa1e1e  ;
	text-decoration:none;
}

/**
tzCloud
*/
.tzCloud-btn-container{
	width: 280px;
	height: 50px;
	margin: 0 auto;
	margin-top: 25px;
}
.tzCloud-btn{
	border: 1px #fff solid;
	width: 100px;
	height: 36px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	color: #fff;
}
.tzCloud-btn-select {
	background-color: #fff;
	color: #000;
}
.tzCloudSite{
	width: 1214px;
	height: 500px;
	margin: 50px auto 0;
	display: none;
}
.tzCloud-bg{
	float: left;
	width: 330px;
	height: 430px;
	margin-left:100px;
}
.tzCloud-bg:hover .tzCloud-pro{
	transform: rotateY(180deg);
}
.tzCloud-pro{
	width: 330px;
	height: 430px;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.tzCloud-pro-front{
	width: 330px;
	height: 430px;
	padding: 20px;
	background-color: #fff;
	position: absolute;
	backface-visibility: hidden;
}
.tzCloud-pro-front-d{
	width: 100%;
	height: 70px;
	bottom: 0px;
	position: absolute;
}
.tzCloud-pro-front-fit{
	display: block;
	width: 100%;
	height:30px;
	text-align: center;
	font-size: 17px;
}
.tzCloud-pro-front-type{
	display: block;
	width: 100%;
	height: 40px;
	font-size: 18px;
	text-align: center;
}
.tzCloud-pro-verso{
	width: 330px;
	height: 430px;
	padding: 20px;
	position: absolute;
	background-color: #595758;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
.tzCloud-pro-verso-package-name{
	width: 100%;
	height:50px;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	color: #F9C500;
}
.tzCloud-pro-verso-package-detail{
	border-top: 1px #F9C500 solid;
	border-bottom: 1px #F9C500 solid;
	padding: 10px 5px 5px 8px;
	color: #F9C500;
	font-size: 20px;
}
.tzCloud-pro-verso-package-detail ul{
	list-style: none;
	line-height: 37px;
	padding-left:0px;
}
.tzCloud-pro-verso-package-price{
	margin-top:5px;
	width: 100%;
	height: 70px;
	text-align: center;
}
.tzCloud-pro-verso-package-price-p{
	display: block;
	font-size: 24px;
	color: #F9C500;
}
.tzCloud-pro-verso-package-price-btn{
	display: block;
	border: 1px #F9C500 solid;
	background-color: #F9C500;
	color: #000;
	font-size: 18px;
	width: 160px;
	height: 35px;
	margin: 0 auto;
	padding-top:3px;
	cursor: pointer;
	margin-top: 5px;
}

/*
15CDN
*/
.cdnpro{
	width: 1214px;
	height: 460px;
	margin: 50px auto 0;
}
.cdnpro-pro {
	float: left;
	width: 330px;
	height: 376px;
	margin-left:100px;
}
.cdnpro-name{
	border-bottom: 5px #fff solid;
	border-right: 5px #fff solid;
	background-color: #595758;
	position: absolute;
	width: 90px;
	height: 90px;
	font-size: 25px;
	font-weight: 700;
	color: #F9C500;
	padding: 10px;
	padding-left: 16px;
}
.cdnpro-name-trigon{
	width: 0;
    height: 0;
    border-top: 30px solid #F9C500;
    border-right: 30px solid transparent;
    position: absolute;
    margin-left: -16px;
    margin-top: -10px;
}
.cdnpro-name-trigon span{
	display: block;
	font-size: 19px;
	font-weight: 500;
	color: #000;
	margin-left: 2px;
	margin-top: -32px;
}
.cdnpro-detail{
	margin: 10px;
	width: 320px;
	height: 365px;
	padding: 20px;
	background-color: #595758;
}
.cdnpro-detail-params{
	width: 100%;
	height: 60px;
}
.cdnpro-detail-params ul{
	float: right;
	list-style: none;
	padding-left: 0px;
	font-size: 20px;
	line-height: 30px;
	color: #F9C500;
	margin-right: 18px;
}
.cdnpro-detail-direction{
	width: 100%;
	height: 180px;
	padding: 10px;
	border-bottom: 1px #F9C500 solid;
	color: #F9C500;
	font-size: 18px;
	padding-top:30px;
}
.cdnpro-detail-direction-title{
	border-left: 4px #F9C500 solid;
	padding-left: 10px;
}
.cdnpro-detail-direction-content{
	line-height: 30px;	
}
.cdnpro-detail-get{
	width: 100%;
	height: 90px;
	text-align: center;
	padding-top: 10px;
}
.cdnpro-detail-get-price{
	font-size: 23px;
	color: #F9C500;
}
.cdnpro-detail-btn{
	width: 160px;
	height: 30px;
	cursor: pointer;
	color: #595758;
	background-color: #F9C500;
	pading: 5px 20px 5px 20px;
	margin: 0 auto;
	margin-top: 10px;
	padding-top: 4px;
}
/*
cShield
*/
.cShield{
	width: 1214px;
	height: 460px;
	margin: 50px auto 0;
}
.cShield-bg{
	width: 267px;
	height: 389px;
	margin-left:190px;
	float: left;
}
.cShield-bg:hover .cShield-div{
	transform: rotateY(180deg);
}
.cShield-div{
	width: 267px;
	height: 389px;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.cShield-front{
	background-image: url("/tz/images/index/20170320/tubiao_04.png");
	background-repeat: no-repeat;
	width: 275px;
	height: 389px;
	padding-top:130px;
	position: absolute;
	backface-visibility:hidden;
	background-color: #fff;
}
.cShield-front-type{
	color: #F9C500;
	font-size: 60px;
	width:100%;
	height:95px;
	text-shadow: 3px 3px 3px #000;
	text-align:right;
	padding-right: 9px;
}
.cShield-front-click{
	font-size: 25px;
	width: 100%;
	height: 36px;
	color: #F9C500;
	text-align: right;
	text-shadow: 2px 2px 2px #000;
	padding-right: 50px;
}
.cShield-verso{
	width: 275px;
	height: 389px;
	background-color: #595758;
	padding: 10px;
	position: absolute;
	backface-visibility:hidden;
	transform: rotateY(180deg);
}
.cShield-verso-name{
	text-align: center;
	font-size: 25px;
	color: #F9C500;
	width:100%;
	height:43px;
}
.cShield-verso-detail{
	width: 100%;
	height:270px;
	border-top: 1px #F9C500 solid;
	border-bottom: 1px #F9C500 solid;
	padding: 10px;
}
.cShield-verso-detail ul{
	list-style:none;
	padding-left: 0px;
	font-size:20px;
	color:#F9C500;
	line-height: 35px;
	width:100%;
	height: 180px;
}
.cShield-verso-detail .price{
	font-weight:700;
	font-size:22px;
}
.cShield-verso-detail ul li span{
	text-decoration: line-through;
}
.cShield-verso-direction{
	color: #F9C500;
	line-height: 30px;
	font-size: 15px;
}
.cShield-verso-verso-btn{
	margin: 0 auto;
	width: 100px;
	height: 30px;
	color: #595758;
	font-size: 15px;
	background-color: #F9C500;
	text-align: center;
	padding-top: 5px;
	margin-top:15px;
	cursor: pointer;
}