body {
	background: #FFF;
}

.as{
	text-decoration: none;
	display:block;
	font-family: Microsoft YaHei;
	color:#000;
	font-size: 17px;
}

.as:hover{
	text-decoration: none;
	color:#FFF;
	background-color: #FFAE00;
}
	.abmune{
		width: 247px;
		margin-top:-40px;
	}