body {
	background: #FFF;
}

.as{
	text-decoration: none;
	display:block;
	font-family: Microsoft YaHei;
	color:#000;
}

.as:hover{
	text-decoration: none;
	color:#FFF;
	background-color: #FFAE00;
}

/* @media ( min-width :600px) {
	.tu1{
		width: 450px;
	}
	
	.tu2{
		width: 520px;
	}
}

@media ( min-width :768px) {
	.remenu{
		margin-left: 80px;
		width: 15%;
	}
	.retext{
		margin-top: 15px;
		margin-left: 10px;
	}
	.retexts{
		padding-top: 15px;
		margin-left: 10px;
	}
	
	.rigimg{
		margin-left: 28px;
	}
	
	.rigimgs{
		margin-left: 40px;
	}
	.rigtext{
		margin-left: 40px;
	}
}

@media ( min-width :980px) {
}

@media ( min-width :992px) {
	.remenu{
		margin-left: 70px;
		width: 18%;
	}
	.retext{
		margin-top: 15px;
		margin-left: 10px;
	}
	.retexts{
		padding-top: 15px;
		margin-left: 10px;
	}
	
	.rightxt{
		width: 18%;
	}
	.rigimg{
		margin-left: 30px;
	}
	
	.rigimgs{
		margin-left: 40px;
	}
	.rigtext{
		margin-left: 40px;
	}
}

@media ( min-width :1100px) {

	.remenu{
		margin-left: 80px;
		width: 18%;
	}
	.retext{
		margin-top: 15px;
		margin-left: 30px;
	}
	.retexts{
		padding-top: 15px;
		margin-left: 30px;
	}
	.rightxt{
		width: 18%;
	}
	.rigimg{
		margin-left: 32px;
	}
	
	.rigimgs{
		margin-left: 58px;
	}
	.rigtext{
		margin-left: 58px;
	}
}

@media ( min-width :1400px) {
	.remenu{
		margin-left: 150px;
		width: 15%;
	}
	.retext{
		margin-top: 15px;
		margin-left: 30px;
	}
	.retexts{
		padding-top: 15px;
		margin-left: 30px;
	}
	
	.rightxt{
		width: 15%;
	}
	.rigimg{
		margin-left: 40px;
	}
	
	.rigimgs{
		margin-left: 58px;
	}
	.rigtext{
		margin-left: 60px;
	}
}

@media ( min-width :1600px) {
	.remenu{
		margin-left: 280px;
		width: 13%;
	}
	.retext{
		margin-top: 15px;
		margin-left: 40px;
	}
	.retexts{
		padding-top: 15px;
		margin-left: 40px;
	}
	.rightxt{
		width: 12%;
	}
	.rigimg{
		margin-left: 50px;
	}
	
	.rigimgs{
		margin-left: 60px;
	}
	
	.rigtext{
		margin-left: 60px;
	}
} */


.remenu{
		width: 247px;
	}
	.retext{
		margin-top: 15px;
		margin-left: 40px;
	}
	.retexts{
		padding-top: 15px;
		margin-left: 40px;
	}
	.rightxt{
		width: 230px;
	}
	.rigimg{
		margin-left: 50px;
	}
	
	.rigimgs{
		margin-left: 60px;
	}
	
	.rigtext{
		margin-left: 60px;
	}