body {
	background: #FFF;
}
.as{
	text-decoration: none;
	display:block;
	font-family: Microsoft YaHei;
	color:#000;
}

.as:hover{
	text-decoration: none;
	color:#FFF;
	background-color: #FFAE00;
}

/* @media ( min-width :768px) {

	.solumenu{
		width: 16%;
		margin-left: 80px;
	}
	.mtext{
		margin-top: 15px;
		margin-left: 30px;
	}

}

@media ( min-width :980px) {
}

@media ( min-width :992px) {
	.solumenu{
		width: 16%;
		margin-left: 150px;
	}
	.mtext{
		margin-top: 15px;
		margin-left: 30px;
	}
}

@media ( min-width :1100px) {
	.solumenu{
		width: 16%;
		margin-left: 180px;
	}
	.mtext{
		margin-top: 15px;
		margin-left: 30px;
	}
}

@media ( min-width :1200px) {
	.solumenu{
		width: 16%;
		margin-left: 230px;
	}
	.mtext{
		margin-top: 15px;
		margin-left: 30px;
	}

}

@media ( min-width :1400px) {
	.solumenu{
		width: 16%;
		margin-left: 220px;
	}
	.mtext{
		margin-top: 15px;
		margin-left: 30px;
	}
}

@media ( min-width :1600px) {
	.solumenu{
		width: 13%;
		margin-left: 280px;
	}
	.mtext{
		margin-top: 15px;
		margin-left: 30px;
	}
}
 */
.solumenu{
		width: 247px;
	}
	.mtext{
		margin-top: 15px;
		margin-left: 30px;
	}