.kf-chi{ display:none; width:233px; padding:5px 0 0 0; position:absolute; left:-233px; top:-5px; overflow:hidden; /* background:#fff; */}
.cur .kf-chi{ display:block;}
.kf-chi .tits{ font:bold 14px/26px simsun; color:#444851; text-align:center; display:block; position:relative; left:0; top:0; text-decoration:underline; background-color: #fff;padding-top: 0;}
.kf-chi .tits i{ display:block; width:12px; height:12px; background:url(/tz/images/index/rit-bar-icon.png) no-repeat -16px -445px; position:absolute; left:17px; top:7px; cursor:pointer;}
.kf-chi ul{ width:233px; overflow:hidden;padding-left: 0px;}
.kf-chi li{ width:233px; overflow:hidden; background-color: #fff;}
 .fir{ margin:0 auto; display:block; width:233px; padding:0; height:70px; overflow:hidden; position:relative; left:0; top:0; border-bottom:1px dashed #ececed; cursor:pointer;background-color: #a3a3a3;}
.fir span{padding-top: 0px;}
.fir:hover{ text-decoration:none;}
.fir .txt{ display:block; font-size:18px; color:#444851; line-height:28px; text-align:center;padding-top: 0px;}
.fir .icon{ display:block; width:100%; height:24px; overflow:hidden; background:url(/tz/images/index/rit-bar-icon.png) no-repeat center -44px;}
.fir .icc2{ background:url(/tz/images/index/rit-bar-icon.png) no-repeat center -115px;}
.kf-chi .curs{ background:#a3a3a3;}
.kf-chi .curs .fir .icon{ background:url(/tz/images/index/rit-bar-icon.png) no-repeat center -264px;}
.kf-chi .curs .fir .txt{ color:#fff;}
.kf-chi .curs .fir .icc2{ background:url(/tz/images/index/rit-bar-icon.png) no-repeat center -354px;}
.chiqq{ overflow:hidden; display:none; width:233px; padding:0 11px; margin:0 auto; position:relative; left:0; top:-1px; z-index:2; background:#fff;}
.chiqq span{padding-top: 0px;display: initial;}
.chiqq i{ display:block; width:10px; height:6px; overflow:hidden; background:url(../images/rit-bar-icon.png) no-repeat -15px -464px; position:absolute; left:50%; margin-left:-5px; top:0; z-index:2;}
.chiqq a{color:#000;margin-left:30px ; height:34px; /*background:url(../images/lkbtmline.png) no-repeat 0 bottom;*/ text-align:center; padding-top:5px; line-height: 35px; overflow: hidden;font-size: 15px;float: left;}
.chiqq a:hover{color:#000;text-decoration: none;}
.chiqq #gfqq_1{ /* display:block; */ margin-left:9px ; height:34px; /*background:url(../images/lkbtmline.png) no-repeat 0 bottom;*/ text-align:center; padding-top:5px; line-height: 35px; overflow: hidden;font-size: 15px;}
.chiqq #gfqq_2{ /* display:block; */ margin-left:9px ; height:34px; /*background:url(../images/lkbtmline.png) no-repeat 0 bottom;*/ text-align:center; padding-top:5px; line-height: 35px; overflow: hidden;font-size: 15px;}
.chiqq div{ background-color: #98F5FF;font-size: 14px;height: 70px;width: 200px;margin-left: -10.7px;/* padding-left: 50px;  */width: 233px;padding-top: 4px;}
/* .kf-chi li .chiqq div span{margin-left: 35px;line-height: 22px;} */
.nullclss{font-size: 14px;height: 180px;width: 200px;margin-left: -10.7px;padding: 8px  0px  0px 100px;opacity:0;}
.chiqq a span{ display:block; height:33px; line-height:33px; text-align:center; padding:0 5px 0 45px; background:url(../images/qqicons.png) no-repeat 42px center; color:#444851; font-size:13px; cursor:pointer;}


.jssh-m{overflow: hidden; padding: 5px 0px 0px; top: -5px; width: 233px; display: none; left: -233px; position: absolute;}

 .shzx-fir{ margin:0 auto; width:233px; padding:0; height:70px; overflow:hidden; position:relative; left:0; top:0; border-bottom:1px dashed #ececed; cursor:pointer;background-color: #a3a3a3;}
.shzx-fir span{padding-top: 0px;}
.shzx-fir .icon{ display:block; width:100%; height:24px; overflow:hidden; background:url(/tz/images/index/rit-bar-icon.png) no-repeat center -266px;}


.shzx{ overflow:hidden; display:none; width:233px; padding:0 35px; margin:0 auto; position:relative; left:0; top:-1px; z-index:2; background:#fff;}
.shzx span{padding-top: 0px;display: initial;}
.shzx i{ display:block; width:10px; height:6px; overflow:hidden; background:url(../images/rit-bar-icon.png) no-repeat -15px -464px; position:absolute; left:50%; margin-left:-5px; top:0; z-index:2;}
.shzx #gfqq_1{text-decoration:none;color:#000;lmargin-left:30px ; height:34px;  text-align:center; padding-top:5px; line-height: 35px; overflow: hidden;font-size: 15px;float: left;}
.shzx #gfqq_1 :hover{color:#000;text-decoration:none;}
.shzx #gfqq_1{ /* display:block; */ margin-left:9px ; height:34px; /*background:url(../images/lkbtmline.png) no-repeat 0 bottom;*/ text-align:center; padding-top:5px; line-height: 35px; overflow: hidden;font-size: 15px;}
.shzx #gfqq_2{ /* display:block; */ margin-left:9px ; height:34px; /*background:url(../images/lkbtmline.png) no-repeat 0 bottom;*/ text-align:center; padding-top:5px; line-height: 35px; overflow: hidden;font-size: 15px;}
.shzx div{ background-color: #98F5FF;font-size: 14px;height: 70px;width: 200px;margin-left: -10.7px;/* padding-left: 50px;  */width: 233px;padding-top: 4px;}
.shzx a span{ display:block; height:33px; line-height:33px; text-align:center; padding:0 5px 0 45px; background:url(../images/qqicons.png) no-repeat 42px center; color:#444851; font-size:13px; cursor:pointer;}

.ssh{display: block;}

 .bmd{ margin:0 auto; display:block; width:233px; padding:0; height:40px; overflow:hidden; position:relative; left:0; top:0; border-bottom:1px dashed #ececed; cursor:pointer;background-color: #a3a3a3;}