body,
html {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  min-width: 1344px;
}
#thai_network_root .root-header {
  height: 730px;
  background: url(../images/thai_network_banner.png) no-repeat center center;
}
#thai_network_root .root-body {
  background: url(../images/thai_network_BG.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#thai_network_root .root-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 136px;
  height: 118px;
  background: url(../images/thai_network_J_1.png) no-repeat;
}
#thai_network_root .root-body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 136px;
  height: 118px;
  background: url(../images/thai_network_J_2.png) no-repeat;
}
#thai_network_root .root-body .firewall {
  width: 730px;
  margin: 0 auto;
  padding-bottom: 90px;
}
#thai_network_root .root-body .firewall .firewall-content {
  width: 730px;
  height: 240px;
  background: url(../images/thai_network_dun.png) no-repeat;
  box-shadow: 1px 1px 5px rgba(43, 11, 1, 0.7);
}
#thai_network_root .root-body .firewall .firewall-content h2,
#thai_network_root .root-body .firewall .firewall-content p {
  width: 622px;
  margin: 0 auto;
  text-align: center;
}
#thai_network_root .root-body .firewall .firewall-content h2 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  padding-top: 46px;
  margin-bottom: 18px;
}
#thai_network_root .root-body .firewall .firewall-content p {
  font-size: 18px;
  color: #fff;
  line-height: 28px;
}
#thai_network_root .root-body .firewall .firewall-head {
  border-top: 1px solid transparent;
  width: 626px;
  height: 232px;
  background: url(../images/thai_network_qi.png) no-repeat;
  transform: translateY(5px) translateX(66px);
}
#thai_network_root .root-body .firewall .firewall-head h3 {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 0;
  line-height: 32px;
  margin-top: 60px;
}
#thai_network_root .root-body .firewall .firewall-head p {
  font-size: 16px;
  color: rgba(255, 254, 254, 0.9);
  margin: 0;
  text-align: center;
  margin-top: 16px;
}
#thai_network_root .root-body .recommend {
  width: 1179px;
  margin: 0 auto;
  transform: translateX(86px);
  margin-bottom: 72px;
}
#thai_network_root .root-body .recommend .recommend-head {
  border-top: 1px solid transparent;
  width: 626px;
  height: 232px;
  background: url(../images/thai_network_qi.png) no-repeat;
  transform: translateY(20px) translateX(248px);
}
#thai_network_root .root-body .recommend .recommend-head h3 {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  margin: 0;
  margin-top: 76px;
  margin-left: 110px;
}
#thai_network_root .root-body .recommend .recommend-content {
  width: 1179px;
  height: 417px;
  background: url(../images/thai_network_chanpin.png) no-repeat;
}
#thai_network_root .root-body .recommend .recommend-content .content {
  width: 708px;
  margin-left: 142px;
  transform: translateY(100px);
}
#thai_network_root .root-body .recommend .recommend-content .content .product-title {
  font-size: 18px;
  color: #333;
  font-weight: normal;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
  font-family: "微软雅黑";
}
#thai_network_root .root-body .recommend .recommend-content .content .original-price {
  text-align: right;
  padding-right: 60px;
}
#thai_network_root .root-body .recommend .recommend-content .content .original-price .del-decoration {
  text-decoration: line-through;
  font-size: 16px;
  color: #999999;
}
#thai_network_root .root-body .recommend .recommend-content .content .prompt {
  text-align: right;
  color: #ea0006;
  font-size: 16px;
  margin-top: 30px;
}
#thai_network_root .root-body .recommend .recommend-content .content .contact-us {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}
#thai_network_root .root-body .recommend .recommend-content .content .contact-us a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 180px;
  height: 44px;
  background-image: linear-gradient(140deg, #fc5620, #952804);
  font-size: 18px;
  text-align: center;
  line-height: 44px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
#thai_network_root .root-body .recommend .recommend-content .content .price-block {
  text-align: right;
  padding-right: 22px;
}
#thai_network_root .root-body .recommend .recommend-content .content .price-block .price {
  font-size: 60px;
  font-family: "Arial";
  color: #ea0006;
}
#thai_network_root .root-body .recommend .recommend-content .content .price-block .unit {
  font-size: 16px;
  color: #666666;
}
#thai_network_root .root-body .recommend .recommend-content .content .config .config-item {
  height: 84px;
}
#thai_network_root .root-body .recommend .recommend-content .content .config span.key {
  font-size: 16px;
  color: #999999;
  margin-bottom: 10px;
  font-family: "微软雅黑";
}
#thai_network_root .root-body .recommend .recommend-content .content .config span.value {
  font-size: 16px;
  color: #333333;
  font-family: "微软雅黑";
}
#thai_network_root .root-body .recommend .recommend-content .content .config span {
  display: block;
  text-align: center;
}
#thai_network_root .root-body .introduction {
  height: 188px;
  background-color: rgba(49, 122, 245, 0.1);
  border-top: 1px solid transparent;
  margin-top: -35px;
}
#thai_network_root .root-body .introduction h5,
#thai_network_root .root-body .introduction p {
  width: 1012px;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}
#thai_network_root .root-body .introduction h5 {
  font-size: 26px;
  color: #ffffff;
  font-weight: normal;
  margin-top: 48px;
  margin-bottom: 22px;
  text-align: center;
}
#thai_network_root .root-body .introduction p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
