ul {
    margin: 40px - 18px 0 0 0;
    padding: 0;
    list-style: none;
    li {
        // &:last-of-type {
        //     .media {
        //         border-bottom: none;
        //     }
        // }
        .media {
            box-sizing: content-box;
            padding: 18px 0;
            height: 100px;
            border-bottom: 1px solid #dadbe3;
            .media-body {
                a {
                    text-decoration: none;
                    display: block;
                    font-size: 14px;
                    color: #666666;
                    &:hover {
                        .media-heading {
                            color: #0031a1;
                        }
                    }
                    .media-heading {
                        transition: all .5s;
                        margin-top: 8px;
                        margin-bottom: 16px;
                        font-size: 16px;
                        color: #333333;
                        font-weight: normal;
                        .top {
                            margin-right: 2px;
                            display: inline-block;
                            height: 18px;
                            width: 34px;
                            text-align: center;
                            line-height: 18px - 1px;
                            font-size: 12px;
                            color: #043fc4;
                            border: 1px solid #043fc4;
                            border-radius: 4px;
                        }
                    }
                }
            }
            .media-left {
                padding-bottom: 0;
                padding-right: 20px;
                a {
                    text-decoration: none;
                    display: block;
                    width: 100px;
                    span.date-day {
                        display: block;
                        height: 66px;
                        line-height: 66px;
                        text-align: center;
                        font-size: 48px;
                        color: #4c505f;
                        box-sizing: border-box;
                        background-color: #e5e5ed;
                        border-radius: 4px 4px 0 0;
                    }
                    span.date-years {
                        display: block;
                        font-size: 14px;
                        color: #4c505f;
                        text-align: center;
                        height: 32px;
                        line-height: 32px;
                        background-color: #cdd2e2;
                        border-radius: 0 0 4px 4px;
                    }
                }
            }
        }
    }
}
.article-header {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #333333;
    h1 {
        font-size: 32px;
        color: #333333;
        margin: 0;
        margin-bottom: 17px;
        font-weight: normal;
    }
    time {
        font-size: 14px;
        color: #666666;
    }
}
.article-article {
    blockquote {
        padding: 20px;
        background-color: #ededed;
        border: 1px solid #d2d2d2;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 38px;
        p {
            font-size: 14px;
            color: #666666;
            line-height: 25px;
        }
    }
}
.article-footer {
    padding-top: 30px;
    border-top: 1px solid #a0a0a0;
    p {
        font-size: 14px;
        a {
            color: #666666;
            text-decoration: none;
        }
    }
    img {
        width: 50px;
        height: 50px;
    }
}
.paginate {
    text-align: right;
    .page();
}

