html,
body {
  margin: 0;
  padding: 0;
  min-width: 1900px;
}
body {
  font-family: "微软雅黑";
  border-top: 1px solid transparent;
}
body .root {
  margin-top: 122px;
  border-top: 1px solid transparent;
  background: url(../images/BG_GAME.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
body .root .game-item {
  height: 556px;
  width: 1568px;
  margin: 0 auto;
  margin-bottom: 20px;
}
body .root .game-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .root .game-item ul li {
  width: 503px;
  background-color: #fff;
  float: left;
}
body .root .game-item ul li:hover {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}
body .root .game-item ul li:hover .game-item-button {
  background-color: #484848;
  color: #ecc90b;
}
body .root .game-item ul li:nth-of-type(2) {
  margin: 0 20px;
}
body .root .game-item ul li .game-item-head img {
  height: 290px;
  width: 100%;
}
body .root .game-item ul li .game-item-title {
  font-weight: bold;
  margin-top: 19px;
  margin-bottom: 15px;
  padding-left: 20px;
}
body .root .game-item ul li .game-item-button {
  margin-left: 13px;
  width: 232px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #484848;
  display: inline-block;
  border-radius: 15px;
}
body .root .game-item ul li p {
  margin-bottom: 0;
  padding: 0 15px;
  padding-bottom: 38px;
  line-height: 28px;
  font-size: 14px;
}
body .root .statement-item {
  height: 200px;
  width: 900px;
  margin: 10px auto;
}
body .root .statement-item p {
  font-size: 16px;
  color: #fff;
}
body .root .statement-item p.title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
body .root .server-item {
  height: 470px;
  width: 650px;
  margin: 118px auto;
  margin-bottom: 0;
  text-align: center;
}
body .root .server-item h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}
body .root .server-item .server-item-head {
  margin-bottom: 38px;
}
body .root .server-item .server-item-head span {
  color: #fff;
}
body .root .server-item .server-item-body {
  width: 648px;
  background-color: #fff;
  border-top: 1px solid transparent;
}
body .root .server-item .server-item-body .footer {
  height: 100px;
  padding: 0 94px;
  padding-right: 0;
  box-sizing: border-box;
  background-color: #484848;
}
body .root .server-item .server-item-body .footer .icon {
  float: left;
  width: 65px;
  height: 59px;
  background: url(../images/server_icon_game.png) no-repeat;
  background-size: 100%;
  margin-top: 22px;
  margin-right: 54px;
}
body .root .server-item .server-item-body .footer .price {
  float: left;
  margin: 0;
  font-size: 67px;
  color: #fff;
}
body .root .server-item .server-item-body .footer .price .unit {
  font-size: 26px;
}
body .root .server-item .server-item-body .footer .c-btns {
  float: left;
  margin: 0;
  margin-left: 28px;
  margin-top: 12px;
}
body .root .server-item .server-item-body .footer .c-btns .buy {
  display: block;
  width: 148px;
  height: 38px;
  border: 2px solid #ffd800;
  line-height: 38px;
  color: #dbbb17;
  border-radius: 19px;
  font-weight: bold;
}
body .root .server-item .server-item-body .footer .c-btns .understand {
  margin-top: 5px;
  display: block;
  width: 148px;
  height: 38px;
  border: 2px solid #fff;
  line-height: 38px;
  color: #fff;
  border-radius: 19px;
  font-weight: bold;
  text-decoration: none;
}
body .root .server-item .server-item-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 384px;
  margin: 0 auto;
  margin-bottom: 43px;
}
body .root .server-item .server-item-body ul li {
  float: left;
  width: 106px;
}
body .root .server-item .server-item-body ul li h6 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
body .root .server-item .server-item-body ul li p {
  font-size: 18px;
  margin: 0;
  margin-top: 14px;
}
body .root .server-item .server-item-body ul li span {
  font-size: 12px;
}
body .root .server-item .server-item-body ul li:nth-of-type(2) {
  width: 164px;
  border-right: 1px solid #525252;
  border-left: 1px solid #525252;
}
body .root .server-item .server-item-body h3 {
  height: 60px;
  line-height: 60px;
  margin: 0;
  color: #282828;
  margin-top: 33px;
  margin-bottom: 24px;
  position: relative;
}
body .root .server-item .server-item-body h3::before {
  content: "";
  width: 384px;
  height: 1px;
  background-color: #525252;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
body .root .server-item .server-item-body h3::after {
  content: "";
  width: 384px;
  height: 1px;
  background-color: #525252;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
body .root .server-features {
  width: 1260px;
  margin: 0 auto;
  margin-top: 628px;
  height: 474px;
  transform: translateX(-10px);
}
body .root .server-features ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .root .server-features ul li {
  text-align: center;
  width: 240px;
  height: 468px;
  background-color: #303030;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}
body .root .server-features ul li:hover {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.8);
}
body .root .server-features ul li .server-features-icon {
  margin: 0;
  padding-top: 25px;
  height: 105px;
  overflow: hidden;
}
body .root .server-features ul li h3 {
  color: #fafafa;
  padding-bottom: 18px;
  position: relative;
}
body .root .server-features ul li h3::before {
  content: "";
  height: 1px;
  width: 108px;
  background-color: #fafafa;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
body .root .server-features ul li p {
  color: #f1f1f1;
  line-height: 30px;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
