#aboutus {
    font-family: "Microsoft Yahei";
    .banner {
        height: 562px;
        background: url(../images/banner/aboutusBanner.png) no-repeat;
        background-size: 100% 100%;
        border-top: 1px solid transparent;
        margin-top: -1px;
        text-align: center;
        h2 {
            margin-top: 190px;
            text-align: center;
            font-size: 60px;
            color: #fff;
            margin-bottom: 0;
        }
        h3 {
            font-size: 24px;
            text-align: center;
            color: #fff;
        }
        p {
            margin: 0;
            margin-top: 34px;
            padding: 10px 20px;
            display: inline-block;
            font-size: 14px;
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, .5);
        }
    }
    .content-list {
        width: 196px * 6px;
        margin: 0 auto;
        margin-top: -63px;
        .tab-content {
            box-shadow: 0 -1px 54px 12px rgba(2, 17, 91, .16);
            padding: 56px 80px;
            h2 {
                margin: 0;
                padding-bottom: 20px;
                border-bottom: 1px solid #333333;
                font-size: 32px;
                font-weight: normal;
                span {
                    font-size: 14px;
                    color: #999999;
                    a {
                        color: #999999;
                        text-decoration: none;
                        &.active {
                            color: #333333;
                        }
                    }
                    margin-top: 35px - 15px;
                }
            }
            #descripts {
                img {
                    // margin-top: 20px;
                    margin-right: 20px;
                }
                p.topline {
                    margin-top: 40px - 10px;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 14px;
                    color: #666666;
                    // padding: 5px 0;
                    // margin: 5px 0;
                    margin: 0;
                    text-indent: 2em;
                    line-height: 30px;
                }
                .slogan {
                    margin-top: 74px;
                }
            }
            #pay {
                .culture-list {
                    .culture-item {
                        .title {
                            margin-top: 40px - 10px;
                            h4 {
                                display: inline-block;
                                font-size: 20px;
                                color: #043fc4;
                                margin: 0;
                                position: relative;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 2em;
                                    height: 3px;
                                    background-image: linear-gradient(to right,#3251ed,#6d8fff);
                                    top: 38px;
                                    left: 0;
                                }
                            }
                            span {
                                font-size: 12px;
                                color: #6b6d75;
                                vertical-align: bottom;
                                margin-left: 2px;
                            }
                        }
                        .body {
                            // margin: 40px 0;
                            margin-top: 40px;
                            // margin-bottom: 40px;
                            ul.border {
                                padding-bottom: 32px;
                                border-bottom: 1px solid #dadbe3;
                                margin-bottom: 32px;
                            }
                            ul.list-item {
                                li {
                                    float: none;
                                    margin-right: 0;
                                    width: 100%;
                                    font-size: 14px;
                                    color: #6b6d75;
                                    span {
                                        margin-right: 5px;
                                        color: #2559cc;
                                        font-size: 14px;
                                    }
                                    margin-bottom: 12px;
                                }
                            }
                            ul {
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                li {
                                    float: left;
                                    width: 308px;
                                    margin-right: 46px;
                                    &:nth-of-type(3n) {
                                        margin-right: 0;
                                    }
                                    .thumb {
                                        height: 108px;
                                        border-radius: 10px;
                                        border: 1px solid #bec3d2;
                                        transition: all .5s;
                                        img {
                                            border-radius: 10px;
                                            width: 100%;
                                            height: 100%;
                                        }
                                        &:hover {
                                            border: 1px solid #043fc4;
                                            box-shadow: 0 0 15px rgba(4, 63, 196, .4);
                                        }
                                    }
                                    .dec {
                                        font-size: 14px;
                                        color: #666666;
                                        margin-top: 14px;
                                        p {
                                            text-indent: 10px;
                                        }
                                        .pull-left {
                                            position: relative;
                                            top: 81px / 2px;
                                            transform: translateY(-50%);
                                        }
                                        img.pay {
                                            width: 81px;
                                            height: 81px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #lianxi {
                .culture-list {
                    .culture-item {
                        .title {
                            margin-top: 40px - 10px;
                            h4 {
                                display: inline-block;
                                font-size: 20px;
                                color: #043fc4;
                                margin: 0;
                                position: relative;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 2em;
                                    height: 3px;
                                    background-image: linear-gradient(to right,#3251ed,#6d8fff);
                                    top: 38px;
                                    left: 0;
                                }
                            }
                            span {
                                font-size: 12px;
                                color: #6b6d75;
                                vertical-align: bottom;
                                margin-left: 2px;
                            }
                        }
                        .body {
                            // margin: 40px 0;
                            margin-top: 40px;
                            // margin-bottom: 40px;
                            .table {
                                tr {
                                    display: flex;
                                    &:last-of-type {
                                        td {
                                            border-bottom: none;
                                        }
                                    }
                                    td {
                                        border: none;
                                        border-bottom: 1px solid #dcdcdc;
                                        padding-left: 0;
                                        padding-right: 0;
                                        flex: 1;
                                    }
                                }
                            }
                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                display: flex;
                                flex-wrap: wrap;
                                li {
                                    width: 1016px / 4px;
                                    padding-bottom: 10px;
                                    span {
                                        display: block;
                                        &:last-of-type {
                                            text-indent: 3em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #fazhang {
                img {
                    margin-top: 60px;
                }
            }
            #wenhua {
                .culture-list {
                    .culture-item {
                        .title {
                            margin-top: 40px;
                            h4 {
                                display: inline-block;
                                font-size: 20px;
                                color: #043fc4;
                                margin: 0;
                                position: relative;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 2em;
                                    height: 3px;
                                    background-image: linear-gradient(to right,#3251ed,#6d8fff);
                                    top: 38px;
                                    left: 0;
                                }
                            }
                            span {
                                font-size: 12px;
                                color: #6b6d75;
                                vertical-align: bottom;
                                margin-left: 2px;
                            }
                        }
                        .body {
                            // margin: 40px 0;
                            margin-top: 40px;
                            // margin-bottom: 40px;
                            p {
                                margin: 0;
                                font-size: 14px;
                                color: #666666;
                            }
                            ul {
                                margin: 0;
                                padding: 0;
                                padding-left: 20px;
                                li {
                                    color: #1b4fc3;
                                    line-height: 24px;
                                    span {
                                        color: #666666;
                                        font-size: 14px;
                                    }
                                    margin: 12px 0;
                                }
                            }
                        }
                    }
                }
            }
            #rongyu {
                .certificate {
                    position: relative;
                }
                .swiper-certificate-page {
                    span {
                        margin: 0 10px;
                        cursor: pointer;
                        color: #c1c0c0;
                        &:hover {
                            color: #3b5af0;
                        }
                    }
                }
                ul.long {
                    li {
                        margin-right: 35px;
                        &:nth-of-type(3n) {
                            margin-right: 35px;
                        }
                        &:nth-of-type(4n) {
                            margin-right: 0;
                        }
                        .thumbnail {
                            img {
                                width: 205px;
                            }
                        }
                    }
                }
                ul {
                    list-style: none;
                    margin: 40px 0;
                    margin-bottom: 0;
                    padding: 0;
                    li {
                        float: left;
                        color: #666666;
                        font-size: 14px;
                        margin-right: 25px;
                        margin-bottom: 38px;
                        &:nth-of-type(3n) {
                            margin-right: 0;
                        }
                        span {
                            display: block;
                            text-align: center;
                        }
                        .thumbnail {
                            padding: 10px;
                            border: 1px solid #999999;
                            transition: all .5s;
                            box-sizing: content-box;
                            img {
                                width: 300px;
                            }
                            &:hover {
                                border: 1px solid #5d78fd;
                                box-shadow: 0 0 16px rgba(4, 63, 196, .4);
                            }
                        }
                    }
                }
            }
        }
        .nav-tabs {
            background-color: #d9dde7;
            border-radius: 5px 5px 0 0;
            // display: inline-block;
            overflow: hidden;
            border-bottom: none;
            box-shadow: 0 -1px 24px 10px rgba(2, 17, 91, .1) inset;
            li {
                a {
                    border-radius: 5px 5px 0 0;

                    border: none;
                    width: 196px;
                    height: 64px;
                    line-height: 64px;
                    padding: 0;
                    background-color: #d9dde7;
                    font-size: 18px;
                    text-align: center;
                    color: #6b6d75;
                    margin: 0;
                }
                &.active {
                    z-index: 99;
                    a {
                        background-color: #fff;
                        color: #162fac;
                        box-shadow: 0 0 30px rgba(2, 17, 91, .16);
                    }
                }
            }
        }


    }
}
