#ddk_promotion,#consumer_promotion {
    font-family: "微软雅黑";
    .body {
        border-top: 1px solid #21252e;
        background: url(../images/promotion/promotion_ddk_BG_.jpg) no-repeat;
        background-size: 100% 100%;
        .title.adv {
            width: 96px + (35px * 2px) + 60px;
            margin-top: 114px;
        }
        .title {
            width: 264px + (35px * 2px) + (60px * 2px);
            margin: 0 auto;
            margin-top: 45px;
            span {
                width: 35px;
                height: 48px;
                background: url(../images/promotion/promotion_ddk_BT_dianzhui.png) no-repeat;
                background-size: 100% 100%;
                // margin: 0 10px;
                &:first-of-type {
                    margin-right: 20px;
                }
                &:last-of-type {
                    margin-left: 20px;
                }
            }
            h3 {
                margin: 0;
                color: #fff;
                font-size: 24px;
                font-weight: normal;
                line-height: 48px;
            }
        }
        .product {
            width: 1034px;
            height: 599px;
            background: url(../images/promotion/promotion_ddk_CP_BG.png) no-repeat;
            background-size: 100% 100%;
            margin: 0 auto;
            margin-top: 46px;
            padding: 26px 60px;
            box-sizing: border-box;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 114px;
                height: 35px;
                right: 0;
                top: 14px;
                background: url(../images/promotion/promotion_ddk_HOT_biaoqian.png) no-repeat;
                background-size: 100% 100%;
            }
            h4 {
                margin: 20px 0;
                border-bottom: 3px solid #0284ed;
                font-size: 18px;
                color: #28140c;
                font-weight: normal;
                display: inline-block;
                line-height: 30px;
            }
            p.dec {
                color: #4f4f4f;
                font-size: 14px;
                margin-bottom: 56px;
            }

            .price-information {
                padding-top: 8px;
                color: #ea2d2e;
                .price {
                    font-size: 34px;
                }
                .unit {
                    font-size: 24px;
                }
                .tip {
                    font-size: 16px;
                    margin-left: 14px;
                }
            }
            .activity-tip {
                margin: 0;
                text-align: center;
                font-size: 16px;
                color: #28140c;
                .date {
                    color: #ea2d2e;
                }
            }
            .buy {
                display: block;
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #fff;
                font-size: 18px;
                text-decoration: none;
                background-color: #146ef5;
                margin: 25px 0;
            }

            .config {
                h5 {
                    color: #28140c;
                    font-size: 18px;
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 884px;
                    margin-top: 26px;
                    li {
                        float: left;
                        height: 50px;
                        margin-bottom: 40px;
                        border-right: 1px solid #e7e6e6;
                        padding: 0 50px;
                        &:nth-of-type(4n) {
                            border-right: none;
                        }
                        span {
                            display: block;
                            min-width: 80px;
                            text-align: center;
                            font-size: 16px;
                            color: #4f4f4f;
                            &.value {
                                margin-top: 10px;
                                color: #0284ed;
                            }
                        }
                    }
                }
            }
        }
        .product-advantage {
            width: 1150px;
            height: 406px;
            margin: 0 auto;
            background: url(../images/promotion/promotion_ddk_fuwuqi.png) no-repeat;
            background-size: 100% 100%;
            margin-top: 50px;
            position: relative;
            div {
                position: absolute;
                &:nth-of-type(1) {
                    left: 30px;
                    top: 25px;
                }
                &:nth-of-type(2) {
                    left: 827px;
                    top: 25px;
                }
                &:nth-of-type(3) {
                    left: 34px;
                    top: 236px;
                }
                &:nth-of-type(4) {
                    left: 838px;
                    top: 156px;
                }
                &:nth-of-type(5) {
                    left: 812px;
                    top: 314px;
                }
            }
            h6 {
                font-size: 18px;
                color: #fff;
                margin: 0;
            }
            p {
                font-size: 14px;
                color: #fff;
                margin: 0;
                margin-top: 16px;
                width: 288px;
            }
        }
    }
}
#consumer_promotion {
    // min-width: 1920px;
    background: url(../images/promotion/consumer_banner_BG.png) no-repeat;
    background-size: 100%;
    .head {
        height: 513px;
    }
    .body {
        background: transparent;
        border-top: 1px solid transparent;
        .title {
            width: 168px + (60px * 2px) + (5px * 2px);
            span {
                width: 60px;
                height: 21px;
                margin-top: 14px;
                &:first-of-type {
                    margin-right: 5px;
                }
                &:last-of-type {
                    margin-left: 5px;
                }
                &.left {
                    background: url(../images/promotion/consumer_biaotizhuangshi_zuo.png) no-repeat;
                }
                &.right {
                    background: url(../images/promotion/consumer_biantizhuangshi_you.png) no-repeat;
                }
            }
        }
        .title.adv {
            width: 198px + (35px * 2px) + 60px;
        }
        .product-advantage {
            width: 100%;
            height: 703px;
            background: url(../images/promotion/consumer_cp_.png) no-repeat;
            background-size: 100% 100%;
        }
        .product {
            .buy {
                background-color: #05cd80;
            }

            .config {
                h5 {
                    color: #28140c;
                    font-size: 18px;
                }
                ul {
                    li {
                        span {
                            &.value {
                                color: #2ad08a;
                            }
                        }
                    }
                }
            }
        }
    }
}
