#tz-server-rent-content {
  margin-left: -15px;
  margin-right: -15px;

  .banner {
    position: relative;
    height: 563px;
    padding-top: 83px;
    color: #fff;
    text-align: center;
    background-image: url("../images/serverRent/server-rent-banner-bg.png");
    background-size: cover;

    .title {
      margin-top: 140px;

      .text {
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 16px;
        letter-spacing: 4.5px;
      }

      .sub-text {
        font-size: 24px;
        padding-left: 18px;
        letter-spacing: 8.2px;
      }
    }

    .bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;

      .btn-link {
        display: inline-block;
        width: 220px;
        height: 63px;
        line-height: 63px;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 18px;
        color: #fff;
        font-size: 18px;
        letter-spacing: 3.2px;
        text-decoration: none;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        background: linear-gradient(to right, #b9ccfc 0%, #6d8fff 50%);
        background: -o-linear-gradient(left, #b9ccfc 0%, #6d8fff 50%);
        background: -ms-linear-gradient(left, #b9ccfc 0%, #6d8fff 50%);
        background: -moz-linear-gradient(left, #b9ccfc 0%, #6d8fff 50%);
        background: -webkit-linear-gradient(left, #b9ccfc 0%, #6d8fff 50%);
        &:hover {
          background: #fff;
          color: #043fc4;
        }
      }
    }
  }

  .title {
    color: #666;

    .text {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 1.3px;
    }

    .sub-text {
      font-size: 14px;
      line-height: 40px;
      margin-top: -10px;
      margin-bottom: -2px;
    }
  }

  .hot-product {
    height: 735px;
    padding-top: 70px;
    text-align: center;
    background-color: #fff;

    .content {
      text-align: center;
      color: #444;

      .item {
        position: relative;
        display: inline-block;

        .front {
          backface-visibility: hidden;
          -webkit-transition: all 1.2s;
          -moz-transition: all 1.2s;
          -ms-transition: all 1.2s;
          -o-transition: all 1.2s;
          transition: all 1.2s;

          .desc {
            font-size: 14px;
            font-weight: bold;
            line-height: 42px;
          }

          .price {
            color: #ffba00;
            font-size: 12px;
            line-height: 41px;
            letter-spacing: 0.3px;
          }
        }

        .back {
          position: absolute;
          bottom: 15px;
          width: 293px;
          height: 438px;
          text-align: left;
          backface-visibility: hidden;
          -webkit-transform: rotateY(-180deg);
          -moz-transform: rotateY(-180deg);
          -ms-transform: rotateY(-180deg);
          -o-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
          -webkit-transition: all 1.2s;
          -moz-transition: all 1.2s;
          -ms-transition: all 1.2s;
          -o-transition: all 1.2s;
          transition: all 1.2s;

          .card {
            background-color: #fff;
            border-radius: 6px;
            border-bottom: 6px solid #2139b7;
            box-shadow: 11px 2px 57px 0 rgba(2, 17, 91, 0.1);

            &-body {
              padding: 54px 30px;
            }

            &-title {
              font-size: 18px;
              font-weight: bold;
              line-height: 24px;
            }

            &-text {
              font-size: 14px;
              line-height: 24px;
              text-align: center;

              .desc {
                text-align: left;
              }

              .price {
                color: #ffc543;
                font-size: 12px;
                line-height: 41px;
              }

              .detail-link {
                display: inline-block;
                width: 180px;
                height: 40px;
                line-height: 40px;
                margin-top: 10px;
                color: #fff;
                font-size: 14px;
                letter-spacing: 2.8px;
                border-radius: 20px;
                text-decoration: none;
                background: linear-gradient(to right, #1730ad 0%, #4951d0 50%);
                background: -o-linear-gradient(left, #1730ad 0%, #4951d0 50%);
                background: -ms-linear-gradient(left, #1730ad 0%, #4951d0 50%);
                background: -moz-linear-gradient(left, #1730ad 0%, #4951d0 50%);
                background: -webkit-linear-gradient(left, #1730ad 0%, #4951d0 50%);
                box-shadow: 10px 1.5px 18px 0 rgba(31, 59, 182, 0.2);
              }
            }
          }
        }

        &:hover {
          .front {
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
          }

          .back {
            -webkit-transform: rotateY(-360deg);
            -moz-transform: rotateY(-360deg);
            -ms-transform: rotateY(-360deg);
            -o-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
          }
        }
      }
    }
  }

  .product-adv {
    height: 607px;
    padding-top: 70px;
    text-align: center;
    background: url("../images/serverRent/product-adv-bg.png") no-repeat center center;
    background-size: cover;

    .content {
      height: 100%;
      text-align: center;

      .item {
        display: inline-block;

        &-content {
          text-align: left;
          margin-left: 18px;
          display: inline-block;
          vertical-align: text-top;

          .title {
            color: #2139b7;
            font-weight: bold;
            letter-spacing: 0.9px;
          }

          .desc {
            color: #666;
            font-size: 14px;
            line-height: 26px;
          }
        }
      }
    }
  }

  .service-support {
    height: 1010px;
    padding-top: 70px;
    text-align: center;
    background: url("../images/serverRent/service-support-bg.png") no-repeat center center;
    background-size: cover;

    .table-container {
      margin-top: 45px;

      .table-bordered {
        border-left: none;
        border-right: none;

        tbody {
          color: #d4d4d4;
        }

        th {
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2.8px;
          color: #fff;
          text-align: center;
          vertical-align: middle;
          border-bottom-width: 0;
        }

        tr {
          height: 50px;
          th {
            &:first-child {
              border-left: none;
            }

            &:last-child {
              border-right: none;
            }
          }

          td {
            line-height: 34px;
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  }

  .common-question {
    height: 678px;
    margin-top: -78px;
    position: relative;
    text-align: center;
    background: url("../images/serverRent/common-question-bg.png") no-repeat;
    background-size: cover;

    .title {
      position: absolute;
      top: 200px;
      left: 0;
      right: 0;
    }

    .content {
      position: absolute;
      top: 320px;
      left: 0;
      right: 0;
      text-align: center;

      .list-group {
        text-align: center;
        width: 1240px;
        margin: 0 auto !important;

        .list-group-item {
          width: 350px;
          display: inline-block;
          background: url("../images/serverRent/dot.png") no-repeat left center;
          padding: 0 0 5px 20px;
          margin-left: 30px;
          margin-right: 30px;
          color: #666;
          font-size: 14px;
          line-height: 41px;
          border: none;
          border-bottom: 1px solid #b4b4bf;
          border-radius: unset;

          .text {
            float: left;
            color: inherit;
          }

          .date {
            float: right;
          }
        }
      }
    }
  }

  .consult {
    height: 192px;
    background: url("../images/serverRent/bottom-bg.png") no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 50px;

    .consult-btn {
      padding: 8px 40px;
      font-size: 14px;
      line-height: 41px;
      color: #fff;
      letter-spacing: 2.8px;
      text-decoration: none;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 17px;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      &:hover {
        background-color: #fff;
        color: #043fc4;
      }
    }
  }
}
@import "./serverProduct.less";
