#server_product {
    .banner {
        position: relative;
        height: 563px;
        padding-top: 83px;
        color: #fff;
        text-align: center;
        background-image: url("../images/serverRent/server-rent-banner-bg.png");
        background-size: cover;

        .title {
          margin-top: 140px;

          .text {
            font-size: 60px;
            line-height: 72px;
            margin-bottom: 16px;
            letter-spacing: 4.5px;
          }

          .sub-text {
            font-size: 24px;
            padding-left: 18px;
            letter-spacing: 8.2px;
          }
        }

        .bottom {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;

          .btn-link {
            display: inline-block;
            width: 220px;
            height: 63px;
            line-height: 63px;
            border-radius: 8px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 18px;
            color: #fff;
            font-size: 18px;
            letter-spacing: 3.2px;
            text-decoration: none;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            background: linear-gradient(to right, #b9ccfc 0%, #6d8fff 50%);
            background: -o-linear-gradient(left, #b9ccfc 0%, #6d8fff 50%);
            background: -ms-linear-gradient(left, #b9ccfc 0%, #6d8fff 50%);
            background: -moz-linear-gradient(left, #b9ccfc 0%, #6d8fff 50%);
            background: -webkit-linear-gradient(left, #b9ccfc 0%, #6d8fff 50%);
            &:hover {
              background: #fff;
              color: #043fc4;
            }
            &.active {
                background: #fff;
                color: #043fc4;
            }
          }
        }
      }
}
