#tz_yun {
    .banner {
        height: 561px;
        text-align: center;
        background: url(../images/yun/yun_banner_bg.png) no-repeat;
        background-size: 100% 100%;
        border-top: 1px solid #2a5cde;
        h2 {
            color: #ffffff;
            font-size: 50px;
            margin-top: 182px;
            margin-bottom: 46px;
        }
        p {
            font-size: 16px;
            color: #fff;
            // letter-spacing: 50px;
            line-height: 28px;
            width: 810px;
            margin: 0 auto;
        }
        nav {
            margin-top: 110px;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 380px * 3px + (2px * 20px);
                margin: 0 auto;
                li {
                    float: left;
                    margin-right: 20px;
                    cursor: pointer;
                    a {
                        text-align: center;
                        font-size: 18px;
                        width: 380px;
                        height: 64px;
                        line-height: 64px;
                        display: block;
                        text-decoration: none;
                        color: #ffffff;
                        background: linear-gradient(to right,#b9ccfc,#6d8fff);
                        border-radius: 10px;
                        transition: all .5s;
                        &.aticve {
                            background: #fff;
                            color: #043fc4;
                        }
                        &:hover {
                            background: #fff;
                            color: #043fc4;
                        }
                    }
                    &:last-of-type {
                        margin: 0;
                    }

                }
            }
        }
    }
    .package {
        h3 {
            font-size: 22px;
            color: #333333;
            padding-bottom: 38px;
            margin: 74px auto 46px;
            width: 100px;
            text-align: center;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 60px;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                height: 6px;
                border-radius: 3px;
                background-color: #2139b7;
            }
        }
        .list {
            list-style: none;
            margin: 0 auto;
            padding: 0;
            width: 234px * 5px;
            > li {
                float: left;
                width: 232px;
                border: 1px solid #d2d2d2;
                border-radius: 4px;
                padding-bottom: 30px;
                margin-left: -1px;
                position: relative;
                transition: all .5s;
                background-color: #fff;
                &:hover {
                    border: 1px solid #4173f3;
                    z-index: 99;
                    transform: scale(1.1);
                    header {
                        background: linear-gradient(120deg,#3251ed,#6d8fff);
                        h4 {
                            color: #fff;
                        }
                    }
                    section {
                        ul {
                            li {
                                color: #2139b7;
                            }
                        }
                    }
                    a {
                        background-color: #2139b7;
                        color: #fff;
                    }
                }
                header {
                    width: 100%;
                    text-align: center;
                    height: 63px;
                    background-color: #e5e5e5;
                    h4 {
                        font-size: 18px;
                        color: #222222;
                        line-height: 63px;
                        margin: 0;
                    }
                }
                section {
                    padding: 30px 20px;
                    padding-bottom: 0;
                    height: 78px + 30px;
                    h5 {
                        font-size: 14px;
                        color: #333333;
                        margin: 0;
                        margin-bottom: 10px;
                    }
                    p {
                        margin: 0;
                        line-height: 18px;
                        color: #666666;
                        font-size: 12px;
                    }
                    ul {
                        list-style-type: disc;
                        // padding-left: 30px;
                        li {
                            font-size: 12px;
                            color: #666666;
                            line-height: 18px;
                        }
                    }
                    &:last-of-type {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                .price {
                    text-align: center;
                    font-size: 12px;
                    color: #444444;
                    .value {
                        font-size: 18px;
                        color: #2139b7;
                    }
                }
                a {
                    display: block;
                    width: 134px;
                    line-height: 27px;
                    height: 27px;
                    font-size: 12px;
                    color: #2139b7;
                    text-decoration: none;
                    border: 1px solid #2139b7;
                    border-radius: 4px;
                    text-align: center;
                    margin: 0 auto;
                    margin-top: 14px;
                }
            }
        }
    }
    .advantage {
        height: auto;
        padding: 104px 0;
        padding-bottom: 70px;
        background: linear-gradient(to bottom, #ffffff 60%, rgba(1, 43, 164, .08));
        > h3 {
            font-size: 26px;
            color: #333333;
            margin: 0;
            margin-bottom: 22px;
            text-align: center;
        }
        > p {
            font-size: 14px;
            color: #666666;
            margin-bottom: 40px;
            text-align: center;
        }
        #product {
            height: 288px + 40px;
            .swiper-slide:nth-of-type(2) {
                ul {
                    > li {
                        &:nth-of-type(1) {
                            > .icon {
                                background: url(../images/yun/yun_performance.png) no-repeat center top;
                            }
                        }
                        &:nth-of-type(2) {
                            > .icon {
                                background: url(../images/yun/yun_deploy.png) no-repeat center top;
                            }
                        }
                        &:nth-of-type(3) {
                            > .icon {
                                background: url(../images/yun/yun_backup.png) no-repeat center top;
                            }
                        }
                        &:last-of-type {
                            > .icon {
                                background: url(../images/yun/yun_whole_network.png) no-repeat center top;
                            }
                        }
                    }
                }
            }
            .swiper-slide:nth-of-type(1) {
                ul {
                    > li {
                        &:nth-of-type(1) {
                            > .icon {
                                background: url(../images/yun/yun_migrate.png) no-repeat center top;
                            }
                        }
                        &:nth-of-type(2) {
                            > .icon {
                                background: url(../images/yun/yun_adjustment.png) no-repeat center top;
                            }
                        }
                        &:nth-of-type(3) {
                            > .icon {
                                background: url(../images/yun/yun_layering.png) no-repeat center top;
                            }
                        }
                        &:last-of-type {
                            > .icon {
                                background: url(../images/yun/yun_defense.png) no-repeat center top;
                            }
                        }
                    }
                }
            }
            > .swiper-pagination {
                // top: 40px;
                bottom: 0;
                >span {
                    width: 52px;
                    height: 6px;
                    border-radius: 3px;
                    background-color: #b5bef0;
                    margin-right: 20px;
                    &:last-of-type {
                        margin: 0;
                    }
                    &.swiper-pagination-bullet-active {
                        background-color: #2139b7;
                    }
                }
            }
            ul {
                list-style: none;
                margin: 0 auto;
                padding: 0;
                width: (259px * 4px) + (20px * 3px);
                > li {
                    float: left;
                    width: 259px;
                    padding: 0 11px;
                    margin-right: 20px;
                    background: linear-gradient(to bottom, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%);
                    box-shadow: 0 -90px 40px rgba(1, 43, 164, .08);
                    &:last-of-type {
                        margin: 0;
                    }
                    > .icon {
                        height: 124px;
                    }
                    > h4 {
                        color: #2139b7;
                        font-size: 16px;
                        margin: 0;
                        margin-bottom: 15px;
                        text-align: center;
                    }
                    > p {
                        font-size: 14px;
                        color: #444444;
                        line-height: 24px;
                    }
                }
            }
        }

    }
    .features {
        padding: 70px 0;
        background: url(../images/yun/features_bg.png) no-repeat;
        background-size: 100% 100%;
        h3 {
            color: #ffffff;
            font-size: 26px;
            margin: 0;
            text-align: center;
            padding-bottom: 30px;
            margin-bottom: 40px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: 51px;
                height: 6px;
                background-color: #fff;
                border-radius: 3px;
            }
        }
        ul {
            list-style: none;
            margin: 0 auto;
            padding: 0;
            width: 1180px;
            li {
                border: 1px solid #ffffff;
                margin-bottom: 10px;
                display: flex;
                height: 89px;
                overflow: hidden;
                &:last-of-type {
                    margin: 0;
                }
                > div {
                    border-right: 1px solid #fff;
                    font-size: 16px;
                    color: #fff;
                    &:last-of-type {
                        border: none;
                    }
                }
                .feature {
                    width: 178px;
                    height: 89px;
                    line-height: 89px;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    letter-spacing: 15px;
                    background-color: rgba(18, 34, 117, .5);
                    text-align: center;
                }
                .dec-item {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    justify-content: center;
                    p {
                        // flex: 1;
                        width: 100%;
                        margin: 0;
                        padding: 0 20px;
                        padding-bottom: 0;
                        line-height: 25px;
                        font-size: 14px;
                        // height: 100%;
                    }
                    p.table-item {
                        padding-top: 0;
                        padding-bottom: 0;
                        height: 45px;
                        line-height: 45px;
                        border-bottom: 1px dashed #a0a0a0;
                        &:last-of-type {
                            border:  none;
                        }
                    }
                }
            }

        }
    }
    .yun-map {
        .idx_box_wp.index-partners {
            .map-bg {
                background: #081753 url(../images/map-bg.png) top center no-repeat;
                width: 100%;
                min-width: 1200px;
                height: 751px;
                padding-top: 70px;
                .zzidc-auto {
                    width: 1200px;
                    margin-right: auto;
                    margin-left: auto;
                    .zzidc-tit {
                        h2 {
                            font-size: 30px;
                            line-height: 80px;
                            text-align: center;
                            font-weight: normal;
                            letter-spacing: 4px;
                            margin: 0;
                            &.gfff {
                                color: #fff;
                            }
                        }
                        .line-row {
                            width: 52px;
                            height: 5px;
                            background: #ffffff;
                            margin: 0 auto;
                            border-radius: 3px;
                            // margin-top: 15px;
                        }
                    }
                    .map-main {
                        overflow: hidden;
                        margin-top: 57px;
                        position: relative;
                        .circlebox {
                            position: absolute;
                            z-index: 10;
                            .circle2 {
                                display: inline-block;
                                position: absolute;
                                left: 0;
                                width: 9px;
                                height: 9px;
                                background: #ffd543;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                                opacity: 1;
                                filter: alpha(opacity=100);
                            }
                            .pulse2 {
                                display: inline-block;
                                position: absolute;
                                top: -28px;
                                left: -28px;
                                height: 60px;
                                width: 60px;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                                background: #ffd543;
                                opacity: 0.12;
                                filter: alpha(opacity=0);
                                -webkit-animation: warn 2s ease-out;
                                -moz-animation: warn 2s ease-out;
                                animation: warn 2s ease-out;
                                -webkit-animation-iteration-count: infinite;
                                -moz-animation-iteration-count: infinite;
                                animation-iteration-count: infinite;
                            }
                            .circle {
                                display: inline-block;
                                position: absolute;
                                left: 0;
                                width: 9px;
                                height: 9px;
                                background: #2069fd;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                                opacity: 1;
                                filter: alpha(opacity=100);
                            }
                            .pulse {
                                display: inline-block;
                                position: absolute;
                                top: -28px;
                                left: -28px;
                                height: 60px;
                                width: 60px;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                                background: #2069fd;
                                opacity: 0.12;
                                filter: alpha(opacity=0);
                                -webkit-animation: warn 2s ease-out;
                                -moz-animation: warn 2s ease-out;
                                animation: warn 2s ease-out;
                                -webkit-animation-iteration-count: infinite;
                                -moz-animation-iteration-count: infinite;
                                animation-iteration-count: infinite;
                            }
                        }
                        .ntkj {
                            width: 132px;
                            height: 44px;
                            position: absolute;
                            z-index: 100;
                            color: #fff;
                        }
                        .map-left {
                            float: left;
                            width: 146px;
                            .circle-tit {
                                background: url(../images/circle.png) no-repeat 4px 9px;
                                font-size: 16px;
                                color: #fff;
                                line-height: 32px;
                                padding-left: 50px;
                            }
                            .marker-tit {
                                background: url(../images/marker.png) no-repeat 3px 0;
                                font-size: 16px;
                                color: #fff;
                                line-height: 32px;
                                padding-left: 50px;
                                margin-top: 20px;
                            }
                            .dz-list {
                                overflow: hidden;
                                margin-top: 8px;
                                .dz-item {
                                    width: 146px;
                                    height: 40px;
                                    background: linear-gradient(to right,#0d21e0,#4c71e7);
                                    border-radius: 4px;
                                    color: #fff;
                                    font-size: 14px;
                                    line-height: 40px;
                                    text-align: center;
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @keyframes warn{
            0%{transform:scale(0);opacity:1}
            30%{transform:scale(0);opacity:0.1}
            60%{transform:scale(0.5);opacity:0.5}
            100%{transform:scale(1);opacity:0.0}
        }
        @-webkit-keyframes warn{
            0%{-webkit-transform:scale(0);opacity:0.0}
            30%{transform:scale(0);opacity:0.1}
            60%{transform:scale(0.5);opacity:0.5}
            100%{-webkit-transform:scale(1);opacity:0.0}
        }
        @-moz-keyframes warn{
            0%{-moz-transform:scale(0);opacity:0.0}
            30%{transform:scale(0);opacity:0.1}
            60%{transform:scale(0.5);opacity:0.5}
            100%{-moz-transform:scale(1);opacity:0.0}
        }
    }
    .problem {
        padding: 70px 0;
        background: linear-gradient(to bottom, #fff 50%,rgba(167,188,255,.5));
        h3 {
            color: #333333;
            font-size: 26px;
            margin: 0;
            text-align: center;
            margin-bottom: 19px;
        }
        p {
            color: #666666;
            font-size: 14px;
            text-align: center;
            margin-bottom: 24px;
        }
        .list {
            width: 1180px;
            margin: 0 auto;
        }
        ul {
            margin: 0;
            margin-right: 66px;
            width: 349px;
            float: left;
            // list-style: none;
            padding: 0;
            padding-left: 20px;
            &:last-of-type {
                margin: 0;
            }
            li {
                height: 49px;
                color: #2139b7;
                line-height: 49px;
                // list-style-type: disc;
                // padding-left: 20px;
                // width: 349px;
                // border-bottom: 1px solid #bfbfbf;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    width: 349px;
                    height: 1px;
                    background-color: #bfbfbf;
                    left: -20px;
                    bottom: 0;
                }
                // display: flex;
                // justify-content: space-around;
                a {
                    font-size: 14px;
                    color: #666666;
                    height: 100%;
                    line-height: 49px;
                    &:hover {
                        color: #3046bc;
                    }
                }
            }
        }
    }
    .jumbotron.footer {
        height: 193px;
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        background: url(../images/product/productBg3.png) no-repeat;
        background-size: 100% 100%;
        text-align: center;
          h4 {
              margin: 0;
            //   margin-top: 60px;
            padding-top: 60px;
              margin-bottom: 24px;
              font-size: 24px;
              color: #fff;
              span {
                  font-size: 26px;
              }

          }
          a {
              display: inline-block;
              text-decoration: none;
              width: 150px;
              height: 32px;
              line-height: 32px - 2px;
              border: 1px solid #fff;
              color: #fff;
              text-align: center;
              font-size: 14px;
              border-radius: 17px;
          }
      }
      .jumbotron {
        border-radius: 0;
      }
}
