body,
html {
  padding: 0;
  margin: 0;
  font-family: '微软雅黑';
}
div.container-fluid {
  font-family: '微软雅黑';
}
#root {
  min-width: 1290px;
}
.head-banner img {
  width: 100%;
}
.content-body {
  background: url(../images/midAutumn_BG.png) no-repeat;
  background-size: 100% 100%;
}
.content-body .after-sale {
  width: 758px;
  margin: 0 auto;
}
.content-body .after-sale .content {
  height: 176px;
  padding-top: 40px;
}
.content-body .after-sale .content ul li {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}
.content-body .after-sale .content ul li:last-of-type {
  margin-bottom: 0;
}
.content-body .after-sale .title {
  margin-bottom: 38px;
  text-align: center;
}
.content-body .after-sale .title h4 {
  display: inline;
  font-size: 30px;
  color: #fff;
  position: relative;
}
.content-body .after-sale .title h4::before {
  content: "";
  position: absolute;
  width: 143px;
  height: 33px;
  left: -166px;
  top: 0;
  background: url(../images/midAutumn_yun_zuo.png) no-repeat;
}
.content-body .after-sale .title h4::after {
  content: "";
  position: absolute;
  width: 146px;
  height: 33px;
  right: -166px;
  top: 0;
  background: url(../images/midAutumn_yun_you.png) no-repeat;
}
.content-body .opening-process {
  width: 672px;
  margin: 0 auto;
  padding-top: 74px;
}
.content-body .opening-process .time {
  width: 258px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  color: #190a1a;
  font-size: 16px;
  margin: 0 auto;
  background-color: #f6c870;
  margin-top: 50px;
}
.content-body .opening-process ul {
  margin: 0;
  margin-top: 58px;
  padding: 0;
  list-style: none;
}
.content-body .opening-process ul li {
  float: left;
  width: 224px;
  text-align: center;
}
.content-body .opening-process ul li .icon1.active {
  background: url(../images/midAutumn_tu_1.png) no-repeat;
}
.content-body .opening-process ul li .icon1 {
  background: url(../images/midAutumn_huitu_1.png) no-repeat;
  position: relative;
}
.content-body .opening-process ul li .icon1::after {
  content: "";
  position: absolute;
  width: 94px;
  height: 11px;
  top: 50%;
  transform: translateY(-50%);
  right: -106px;
  background: url(../images/midAutumn_jiantou_.png) no-repeat;
}
.content-body .opening-process ul li .icon1:hover {
  background: url(../images/midAutumn_tu_1.png) no-repeat;
}
.content-body .opening-process ul li .icon2.active {
  background: url(../images/midAutumn_tu_2.png) no-repeat;
}
.content-body .opening-process ul li .icon2 {
  background: url(../images/midAutumn_huitu_2.png) no-repeat;
  position: relative;
}
.content-body .opening-process ul li .icon2::after {
  content: "";
  position: absolute;
  width: 94px;
  height: 11px;
  top: 50%;
  transform: translateY(-50%);
  right: -106px;
  background: url(../images/midAutumn_jiantou_.png) no-repeat;
}
.content-body .opening-process ul li .icon2:hover {
  background: url(../images/midAutumn_tu_2.png) no-repeat;
}
.content-body .opening-process ul li .icon3.active {
  background: url(../images/midAutumn_tu_3.png) no-repeat;
}
.content-body .opening-process ul li .icon3 {
  background: url(../images/midAutumn_huitu_3.png) no-repeat;
}
.content-body .opening-process ul li .icon3:hover {
  background: url(../images/midAutumn_tu_3.png) no-repeat;
}
.content-body .opening-process ul li .icon {
  width: 105px;
  height: 117px;
  margin: 0 auto;
  cursor: pointer;
}
.content-body .opening-process ul li .step {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c86d4c;
  margin-bottom: 16px;
  margin-top: 30px;
  position: relative;
}
.content-body .opening-process ul li .step span {
  position: relative;
  left: -10px;
}
.content-body .opening-process ul li .step span::after {
  content: attr(data-index);
  position: absolute;
  top: -5px;
  right: -34px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(120deg, #f6c870, #c5684c);
}
.content-body .opening-process ul li .step-content {
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.content-body .opening-process .title {
  text-align: center;
}
.content-body .opening-process .title h4 {
  display: inline;
  font-size: 30px;
  color: #fff;
  position: relative;
}
.content-body .opening-process .title h4::before {
  content: "";
  position: absolute;
  width: 143px;
  height: 33px;
  left: -166px;
  top: 0;
  background: url(../images/midAutumn_yun_zuo.png) no-repeat;
}
.content-body .opening-process .title h4::after {
  content: "";
  position: absolute;
  width: 146px;
  height: 33px;
  right: -166px;
  top: 0;
  background: url(../images/midAutumn_yun_you.png) no-repeat;
}
.content-body .product {
  width: 1070px;
  margin: 0 auto;
  margin-top: 148px;
  margin-bottom: 158px;
}
.content-body .product .title {
  text-align: center;
  margin-bottom: 58px;
}
.content-body .product .title h4 {
  display: inline;
  font-size: 30px;
  color: #fff;
  position: relative;
}
.content-body .product .title h4::before {
  content: "";
  position: absolute;
  width: 143px;
  height: 33px;
  left: -166px;
  top: 0;
  background: url(../images/midAutumn_yun_zuo.png) no-repeat;
}
.content-body .product .title h4::after {
  content: "";
  position: absolute;
  width: 146px;
  height: 33px;
  right: -166px;
  top: 0;
  background: url(../images/midAutumn_yun_you.png) no-repeat;
}
.content-body .product .product-introduction .price-info {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 26px;
  text-align: center;
}
.content-body .product .product-introduction .price-info .price-component {
  color: #e62d20;
}
.content-body .product .product-introduction .price-info .price-component .price {
  font-size: 62px;
  font-family: Arial, Helvetica, sans-serif;
}
.content-body .product .product-introduction .price-info .price-component .unit {
  font-size: 40px;
}
.content-body .product .product-introduction .price-info .buy-component {
  margin-bottom: 34px;
}
.content-body .product .product-introduction .price-info .buy-component a {
  display: inline-block;
  width: 138px;
  height: 42px;
  background-color: #f6c870;
  text-align: center;
  line-height: 42px;
  font-size: 16px;
  color: #180a1d;
  text-decoration: none;
}
.content-body .product .product-introduction .price-info .tip {
  font-size: 14px;
  color: #111;
  margin: 0;
}
.content-body .product .product-introduction .config {
  height: 356px;
  background: linear-gradient(120deg, #ffda78, #c0604c);
}
.content-body .product .product-introduction .config .config-table {
  width: 800px;
  margin: 0 auto;
  padding-top: 60px;
  color: #190a21;
}
.content-body .product .product-introduction .config .config-table .tip {
  font-size: 16px;
  color: #111;
  text-align: center;
}
.content-body .product .product-introduction .config .config-table .row {
  margin-bottom: 64px;
}
.content-body .product .product-introduction .config .config-table .row:last-of-type {
  margin-bottom: 32px;
}
.content-body .product .product-introduction .config .config-table .col-xs-3 {
  width: 25%;
}
.content-body .product .product-introduction .config .config-table .col-md-3 {
  text-align: center;
  position: relative;
}
.content-body .product .product-introduction .config .config-table .col-md-3::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 52px;
  background-color: #876043;
}
.content-body .product .product-introduction .config .config-table .col-md-3:nth-child(4)::after {
  display: none;
}
.content-body .product .product-introduction .config .config-table .key {
  font-size: 20px;
}
.content-body .product .product-introduction .config .config-table .value {
  font-size: 20px;
}
