.title {
	font-size: 35px;
	text-align: center;
	font-family: Microsoft YaHei;
	margin-top: 50px;
	font-weight: bold;
}

.big {
	width: 950px;
	margin: 0 auto;
	margin-top: 50px;
}

.right {
	width: 82px;
	height: 344px;
	background: url(../images/paycenter/tu.png);
	float: left;
	margin-top: 300px;
	position: absolute;
}

.righttxt {
	font-size: 25px;
	font-weight: bold;
	width: 30px;
	margin-left: 30px;
	margin-top: 60px;
	color: #FFF;
	font-family: Microsoft YaHei;
}

.border {
	width: 900px;
	height: 970px;
	border: 1px solid #A7A7A7;
	margin-left: 45px;
}

.rights {
	width: 82px;
	height: 344px;
	background: url(../images/paycenter/tu.png);
	float: left;
	margin-top: 50px;
}

.righttxts {
	font-size: 25px;
	font-weight: bold;
	width: 30px;
	margin-left: 30px;
	margin-top: 100px;
	color: #FFF;
	font-family: Microsoft YaHei;
}

.borders {
	width: 900px;
	height: 450px;
	border: 1px solid #A7A7A7;
	margin-left: 45px;
}

.bortext {
	float: left;
	font-size: 17px;
	line-height: 35px;
	margin-left: 50px;
	font-family: Microsoft YaHei;
}

.bortexts {
	float: left;
	font-size: 17px;
	line-height: 45px;
	margin-left: 50px;
	font-family: Microsoft YaHei;
}

.bortwo {
	border: 1px solid #A7A7A7;
	padding: 30 30 30 35;
	font-family: Microsoft YaHei;
	font-size: 19px;
	line-height: 40px;
}